@import 'common.css';

#proxyFieldMain {
    margin-top: -6px;
}

#proxyInputWrap {
    display: flex;
    width: 100%;
    margin-top: 6px;
}

#proxyInputWrap span {
    margin: 2px 19px 0 2px;
}

#proxyInput {
    width: 100%;
}

#proxyButtons {
    margin-top: 8px;
    justify-content: flex-end;
}

#advancedFieldMain {
    margin-left: 50px;
}

ul {
    padding-left: 15px;
    margin-bottom: 1px;
}