@import 'common.css';

#homePageFieldMain {
    margin-top: -6px;
}

#homePageInputWrap {
    display: flex;
    width: 100%;
    margin-top: 6px;
}

#homePageInputWrap span {
    margin: 2px 19px 0 2px;
}

#homePageInput {
    width: 100%;
}

#homePageButtons {
    margin-top: 8px;
    justify-content: flex-end;
}

#openOptGroup {
    margin-top: -3px;
    margin-bottom: 2px;
}

#openOptSelector {
    width: 100%;
    margin-left: 3px;
}

#advancedFieldMain {
    margin-left: 50px;
    margin-bottom: 6px;
}