/* Flat menus for menu bars */
.menu-button.active {
    border: none !important;
    border-radius: 0 !important;
    color: var(--hilight-text) !important;
    background: var(--menu-hilight) !important;
    box-shadow: var(--hilight) -1px -1px inset, var(--hilight) 1px 1px inset !important;
    margin-right: 0;
}

.menu-button:after {
    display: none !important;
}

.menu, .menus {
    background-color: var(--menu-bar);
}

.menu-button {
    background-color: transparent;
}

.menuBtn[data-active] {
    border-color: var(--hilight) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: var(--hilight-text) !important;
    background: var(--menu-hilight) !important;
}

.menuBtn:active u,
.menuBtn[data-active] u {
    border-bottom-color: var(--underline-hilight);
}