/* Flat menus for menu bars */
.menu-button:hover,
.menu-button.active {
    border: none !important;
    color: var(--hilight-text) !important;
    background-color: var(--menu-hilight) !important;
    box-shadow: var(--hilight) -1px -1px inset, var(--hilight) 1px 1px inset !important;
    margin-right: 0 !important;
}

.menu-button:after {
    display: none !important;
}

.menu, .menus,
.menu-button {
    background-color: var(--menu-bar);
}

.menuBtn:hover,
.menuBtn:active,
.menuBtn[data-active] {
    border-color: var(--hilight) !important;
    color: var(--hilight-text) !important;
    background-color: var(--menu-hilight) !important;
    padding-top: calc((var(--menu-height) - 14px) / 2) !important;
}

.menuBtn:hover span,
.menuBtn:active span,
.menuBtn[data-active] span {
    margin: 0;
}

.menuBtn:hover u,
.menuBtn:active u,
.menuBtn[data-active] u {
    border-bottom-color: var(--hilight-text);
}