/* Flat menus for context menus */
.contextMenuBg {
    box-shadow: var(--button-shadow) -1px -1px inset, var(--button-shadow) 1px 1px inset;
}

body[data-cm-shadow] .contextMenuBg {
    box-shadow: var(--button-shadow) -1px -1px inset, var(--button-shadow) 1px 1px inset, 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
}

.contextMenuItem[data-active] {
    box-shadow: var(--hilight) -1px -1px inset, var(--hilight) 1px 1px inset;
    background-color: var(--menu-hilight);
}

.menu-popup {
    border: none !important;
    box-shadow: var(--button-shadow) -1px -1px inset, var(--button-shadow) 1px 1px inset;
    background-color: var(--menu) !important;
    padding: 3px;
}

body[data-cm-shadow] .menu-popup {
    box-shadow: var(--button-shadow) -1px -1px inset, var(--button-shadow) 1px 1px inset, 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
}