@charset "utf-8";

@import 'fonts.css';

@keyframes appear {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cmDropdown {
    0% {
        height: 0;
    }
}

@keyframes cmDropright {
    0% {
        width: 0;
    }
}

@keyframes cmDropdownright {
    0% {
        width: 0;
        height: 0;
    }
}

:root {
    --mad-margin-top: 0px;
    --mad-margin-left: 75px;
    --mad-margin-right: 0px;
    --mad-margin-bottom: 48px;
}

.menu {
    display: flex;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 1px;
    line-height: 1.2;
    font: var(--menu-font);
    background-color: var(--menu);
    width: 100%;
    height: var(--menu-height);
    color: var(--menu-text);
}

.menu u {
    border-bottom-color: var(--underline);
}

.menuBtn {
    padding: calc((var(--menu-height) - 14px) / 2) 5px 2px 5px;
    border: solid 1px transparent;
    user-select: none;
}

.menu:not([data-active]) > .menuBtn:hover {
    border-color: var(--button-hilight) var(--button-shadow) var(--button-shadow) var(--button-hilight);
}

.menuBtn[data-active] {
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow);
    padding-top: calc((var(--menu-height) - 14px) / 2 + 1px);
}

.menuBtn[data-active] > span {
    margin-top: 1px;
    margin-left: 1px;
    margin-right: -1px;
}

.contextMenuBg {
    display: none;
    position: absolute;
    top: var(--menu-height);
    overflow: hidden;
    animation: cmDropdown 0.25s linear;
    background-color: var(--menu);
    color: var(--menu-text);
    cursor: default;
}

.contextMenuBg u {
    border-bottom-color: var(--underline);
}

body[data-cm-shadow] .contextMenuBg {
    box-shadow: var(--border-window-outer), var(--border-window-inner), 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
}

body[data-fullscreen] .contextMenuBg {
    top: calc(var(--mad-margin-top) + var(--menu-height));
}

.contextMenuBg:focus {
    outline: none;
}

.contextMenu {
    width: calc(100% - 8px);
    position: absolute;
    right: 5px;
    bottom: 3px;
    margin: 0 !important;
    margin-right: 3px;
}

.contextMenuItem {
    width: 100%;
    min-height: 17px;
    font-size: 11px;
    padding-left: 2px;
    position: relative;
}

.contextMenuItem p {
    margin: 0;
    padding-top: 2px;
}

.contextMenuItem:not(.hasIcon):not(.activeStyle):not(.checkedItem) > p {
    padding-left: 15px;
}

.contextMenuItem.activeStyle p,
.contextMenuItem.checkedItem p {
    line-height: 10px;
}

.contextMenuItem.activeStyle p::before {
    content: "●";
    font-family: Arial !important;
    font-size: 15px !important;
    margin-left: 4px;
    margin-right: 7px;
}

.contextMenuItem.checkedItem p::before {
    font-family: "marlett-icons";
    content: "\e903";
    font-size: 15px;
    position: relative;
    top: 2px;
    left: 1px;
    margin-right: 5px;
}

.contextMenuItem[data-active] {
    background-color: var(--hilight);
    color: var(--hilight-text);
}

.contextMenuItem[data-active] u {
    border-bottom-color: var(--underline-hilight);
}

.contextMenu hr {
    width: 100%;
    margin: 3px 0 4px 1px;
    border: none;
    border-top: solid 1px var(--button-shadow);
    border-bottom: solid 1px var(--button-hilight);
}

.submenuMark {
    position: absolute;
    top: -3px;
    right: -2px;
}

.disabled,
[data-disabled] {
    color: var(--button-shadow) !important;
    text-shadow: 1px 1px 0 var(--button-hilight) !important;
}

.disabled u,
button[disabled] u,
[data-disabled] u {
    border-bottom-color: var(--underline-disabled);
}
