body {
    background-color: var(--window);
    font-family: "Pixelated MS Sans Serif";
}

.icon {
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    float: left;
}

.icon div {
    margin-top: 3px;
}