html {
    height: calc(100% - 4px);
}

body {
    height: 100%;
    color: var(--window-text);
    background-color: var(--window);
    font-family: var(--ui-font);
    overflow: hidden;
    user-select: none;
}

.icon {
    margin-top: 12px;
    text-align: center;
    float: left;
    width: 58px;
    text-align: center;
    cursor: default;
}

.icon div {
    margin-top: 3px;
}