html {
    height: calc(100% - 6px);
}

body {
    height: 100%;
    background-color: var(--window);
    font-family: var(--ui-font);
    overflow: hidden;
}

.icon {
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    float: left;
}

.icon div {
    margin-top: 3px;
}