@import 'marlett.css';

@keyframes appear {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cmDropdown {
    0% {
        height: 0;
    }
}

@keyframes cmDropright {
    0% {
        width: 0;
    }
}

html, body {
    height: 100%;
    user-select: none;
    margin: 0;
    overflow: hidden;
    background-color: var(--background);
}

body {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.ActiveChannelItem {
    display: block;
    margin-top: 1px;
    margin-bottom: -3px;
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    width: 80px;
    float: left;
}

.ActiveChannelItemImage, .windowBtn {
    margin: 1px;
    border: none;
    padding: 0;
}

.ActiveChannelItemImage:hover, .windowBtn:hover {
    margin: 0;
    border-top: solid 1px white;
    border-left: solid 1px white;
    border-bottom: solid 1px rgb(128, 128, 128);
    border-right: solid 1px rgb(128, 128, 128);
}

.ActiveChannelItemImage:hover:active, .windowBtn:hover:active {
    margin: 0;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    border-top: solid 1px rgb(128, 128, 128);
    border-left: solid 1px rgb(128, 128, 128);
}

.windowBtn:hover {
    margin: 0;
    border-top: solid 1px var(--button-hilight);
    border-left: solid 1px var(--button-highlight);
    border-bottom: solid 1px var(--button-shadow);
    border-right: solid 1px var(--button-shadow);
}

.windowBtn:hover:active {
    margin: 0;
    border-bottom: solid 1px var(--button-highlight);
    border-right: solid 1px var(--button-highlight);
    border-top: solid 1px var(--button-shadow);
    border-left: solid 1px var(--button-shadow);
}

.windowContainer {
    background-color: transparent;
    padding: 3px;
    padding-top: 18px;
    position: absolute;
    height: 471px;
    top: 200px;
    right: 184px;
    width: 84px;
}

.windowTitlebar {
    display: none;
    background-color: var(--button-face);
    padding: 0;
    position: absolute;
    height: 15px;
    top: 6px;
    left: 0;
    width: 90px;
    z-index: 1;
}

.windowFrame {
    height: 471px;
    width: 86px;
    position: absolute;
    top: 21px;
    left: 0;
    border: solid 2px transparent;
    border-bottom-width: 4px;
    background-color: transparent;
}

.windowElement {
    position: absolute;
    background-color: transparent;
    border: solid 1px transparent;
}

.windowBtn {
    width: 12px;
    height: 10px;
    position: absolute;
    top: 4px;
}

.windowBtnText {
    margin: 0;
    color: var(--window-text);
    font-size: 8px;
    text-align: center;
    margin-top: -2px;
    margin-left: -1px;
}

.contextMenuBg {
    display: none;
    width: 100px;
    height: 68px;
    position: absolute;
    top: 24px;
    overflow: hidden;
    animation: cmDropdown 0.25s;
    animation-timing-function: linear;
}

.contextMenu {
    width: 98px;
    position: absolute;
    bottom: 3px;
    margin: 0 !important;
    margin-right: 3px;
}

.contextMenuItem {
    width: 100%;
    height: 17px;
    font-size: 11px;
    padding-left: 2px;
    pointer-events: auto !important;
}

.contextMenuItem > p {
    margin: 0;
    padding-top: 2px;
}

.contextMenuItem:not(.hasIcon):not(.activeStyle):not(.checkedItem) > p {
    padding-left: 15px;
}

.confMenu > .contextMenuItem:not(.hasIcon):not(.activeStyle):not(.checkedItem) > p {
    padding-left: 20px;
}

.contextMenuItem.activeStyle > p,
.contextMenuItem.checkedItem > p {
    line-height: 10px;
}

.contextMenuItem.activeStyle > p::before {
    content: "â—";
    font-size: 15px;
    margin-left: 4px;
    margin-right: 7px;
}

.contextMenuItem.checkedItem > p::before {
	font-family: "marlett-icons";
    content: "\e903";
    font-size: 15px;
	position: relative;
	top: 2px;
	left: 1px;
    margin-right: 5px;
}

.contextMenuItem:hover,
.contextMenuItem[data-active] {
    background-color: var(--hilight);
    color: var(--hilight-text);
}

.contextMenuItem:hover u,
.contextMenuItem[data-active] u {
    border-bottom-color: var(--hilight-text);
}

.submenuMark {
    position: absolute;
    top: -3px;
    right: -2px;
}

.confMenuBg {
    display: none;
    width: 180px;
    height: 86px;
    position: absolute;
    top: 24px;
    left: 103px;
    overflow: hidden;
    animation: cmDropright 0.25s;
    animation-timing-function: linear;
}

.confMenu {
    width: 178px;
    position: absolute;
    bottom: 3px;
    right: 5px;
    margin: 0 !important;
    margin-right: 3px;
}

.confMenu > hr {
    margin-top: 3px;
    margin-bottom: 4px;
}

#mainMenuBg {
    display: none;
    width: 100px;
    height: 34px;
    position: absolute;
    overflow: hidden;
    animation: cmDropdown 0.125s;
    animation-timing-function: linear;
    z-index: 99998;
}

#mainMenu {
    width: 98px;
    position: absolute;
    bottom: 3px;
    margin: 0 !important;
    margin-right: 3px;
}

#bgHtmlContainer {
    display: none;
}

.bgHtml {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

#bgVideo {
    width: 100%;
    height: 100%;
    display: none;
}

#msgboxBg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99996;
}

#msgbox {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99997;
}

#msgbox-input {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 10px;
}

#errorWnd {
    min-width: 300px;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 6px;
    animation: appear 4s;
    z-index: 99999;
}

#errorMsg {
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
}

#errorLog {
    margin: 4px;
    margin-top: 0;
    padding: 4px;
    text-align: left;
    overflow-x: scroll;
}

#debug {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

#debug > * {
    background-color: var(--button-face);
}

.debug {
    display: none;
}