/*-------------------------------------------*\
    GroupBox
\*-------------------------------------------*/

fieldset {
    border-image: svg-load("./icon/groupbox-border.svg") 2;
    padding: calc(2 * var(--border-width) + var(--element-spacing));
    padding-block-start: var(--element-spacing);
    margin: 0;
}
legend {
    background: var(--surface);
}
