# nonfree
bghtml/*
!bghtml/readme.txt
channels-en
channels-ko
images
!docs/images
sounds
systemplugin/resources/app/images
apps/welcome/resources/*
!apps/welcome/resources/contents.png
wallpapers

# electron binary files
systemplugin/*
!systemplugin/resources

# modules
systemplugin/resources/app/bootstrap
systemplugin/resources/app/bootstrap-icons
systemplugin/resources/app/node_modules

*.zip