# nonfree
bghtml/*
!bghtml/readme.txt
channels-en/*
!channels-en/ChannelList.css
!channels-en/ProxyRemover.js
channels-ko
images
sounds
systemplugin/resources/app/images

# electron binary files
systemplugin/*
!systemplugin/resources

# modules
systemplugin/resources/app/bootstrap
systemplugin/resources/app/bootstrap-icons
systemplugin/resources/app/node_modules