@import url("../../../../css/libmad.css");

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--button-face);
    user-select: none;
}

p, legend, label,
:not(button):not([data-disabled]):not(.disabled) > span:not(.label):not(.disabled) {
    color: var(--window-text);
}

#madVisLrcConf {
    -webkit-font-smoothing: none;
    font-family: var(--ui-font);
    font-size: 11px;
}

#showSpotifyBtn {
    display: none;
}

#spotifyFieldset {
    display: none;
}

#spotifyLoginBtn {
    margin-left: 5px;
}

#spotifyAlbumArtArea {
    display: none;
}

label[for="useSpotifyAlbumArtChkBox"] {
    margin-top: 3px;
}

#spotifyInfo,
#syncInfo,
#scrollInfo,
#tipsList,
#tipsList li ul {
    margin: 5px 0;
    padding-left: 15px;
}

#tipsList {
    margin: 2px 0;
}

#spotifyInfo mad-string,
#syncInfo mad-string,
#cacheInfo {
    white-space: initial;
}

#fontEditorGroup {
    margin: -5px 8px -2px 0;
}

.groupLabel {
    position: relative;
    top: 2px;
    margin-left: 5px;
}

mad-select {
    width: 220px;
    margin-left: 4px;
    min-width: 0 !important;
}

#fontEditorGroup mad-select {
    margin-top: 3px;
}

#textColor {
    margin-top: -11px;
    margin-left: -3px;
}

#boldToggle,
#italicToggle {
    position: relative;
    min-width: 0;
    min-height: 21px;
    margin: 0;
    margin-top: 13px;
    padding: 0 9px 0 7px;
}

#italicToggle {
    padding: 0 9px 0 8px;
}

#boldToggle span,
#italicToggle span {
    position: relative;
    top: -1px;
}

button[data-active] {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyIDIiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiPjxyZWN0IGZpbGw9IndoaXRlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgZmlsbD0idHJhbnNwYXJlbnQiIHg9IjEiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCBmaWxsPSJ3aGl0ZSIgeD0iMSIgeT0iMSIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IGZpbGw9InRyYW5zcGFyZW50IiB4PSIwIiB5PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PC9zdmc+');
}

#fontSize {
    width: 57px;
    height: 21px;
    margin-left: 1px;
    -moz-appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    appearance: none;
    margin: 0;
}

#cacheConfArea {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3px;
}

label[for="enableCacheChkBox"] {
    height: 15px;
}

#clearCacheBtn {
    min-width: 0;
    min-height: 0;
    height: 22px;
    margin-top: -4px;
    margin-left: 5px;
    margin-bottom: 3px;
}

#albumArtHeightInput,
#maxCacheInput,
#cacheExpiryInput {
    width: 40px;
    text-align: right;
    margin-left: 5px;
}

#show1stRunBtn,
#showTipsBtn {
    margin-top: 5px;
    width: 100%;
}

fieldset p {
    margin: 3px 0;
}

fieldset {
    margin-top: 5px;
}

.bottomButtons {
    margin-top: 5px;
    justify-content: flex-end;
}

.disabled {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-hilight);
}