@import url("../../../../css/libmad.css");

body {
    overflow: hidden;
    background-color: var(--button-face);
    user-select: none;
}

p, legend, label,
:not(button):not([data-disabled]):not(.disabled) > span:not(.label):not(.disabled) {
    color: var(--window-text);
}

#madVisLrcFind {
    -webkit-font-smoothing: none;
    font-family: var(--ui-font);
    font-size: 11px;
}

.normalSearch {
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.row label {
    flex: 0 0 auto;
    margin-right: 10px;
}

.row input {
    flex: 1;
}

.row button {
    flex: 0 0 auto;
}

.advancedSearch {
    display: none;
}

.searchBar {
    width: 100%;
}

#searchBtnAdvanced {
    margin-left: 6px;
}

#searchResults {
    width: 100%;
    margin-bottom: 5px;
}

label[for="addOverrideChkBox"] {
    margin-bottom: 4px;
}

#addOverrideChkBox:disabled + label + br + mad-string {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-hilight);
}

fieldset p {
    margin: 3px 0;
}

fieldset {
    margin-top: 5px;
}

.bottomButtons {
    margin-top: 8px;
    justify-content: flex-end;
}

.disabled {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-hilight);
}