@charset "utf-8";

@import '../../css/libmad.css';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    user-select: none;
}

svg {
    position:absolute;
    z-index:-1;
}

#mainArea {
    margin-top: var(--menu-height);
    height: 100%;
    position: relative;
}

#analogClock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    z-index: 1;
}

#digitalClock {
    display: none;
    font-family: "Microsoft Sans Serif", Arial, sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--button-face);
}

#digitalClockText {
    display: table-cell;
    vertical-align: middle;
    font-size: 30vh;
}

#digitalClockDate {
    font-size: 24vh;
}

@media (max-aspect-ratio: 2/1) {
    #digitalClockText {
        font-size: 15vw;
    }
    #digitalClockDate {
        font-size: 12vw;
    }
}

.menu {
    position: absolute;
    z-index: 4;
}

.menu:hover,
.menu[data-active] {
    opacity: 1 !important;
}

.contextMenuBg {
    z-index: 5;
}

#settingsMenuBg {
    width: 120px;
    height: 172px;
}

#settingsMenu > .contextMenuItem:not(.hasIcon):not(.activeStyle):not(.checkedItem) > p {
    padding-left: 20px;
}