@charset "utf-8";

@import '../../css/libmad.css';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

svg {
    position:absolute;
    z-index:-1;
}

#mainArea {
    margin-top: var(--menu-height);
    height: 100%;
    position: relative;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.menu {
    position: absolute;
    z-index: 4;
}

.menu:hover,
.menu[data-active] {
    opacity: 1 !important;
}

.contextMenuBg {
    z-index: 5;
}

#settingsMenuBg {
    width: 120px;
    height: 172px;
}

#settingsMenu {
    width: 118px;
}

#settingsMenu > .contextMenuItem:not(.hasIcon):not(.activeStyle):not(.checkedItem) > p {
    padding-left: 20px;
}