@import url("../../css/libmad.css");

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--button-face);
}

#madClockConf {
    -webkit-font-smoothing: none;
    font-family: var(--ui-font);
    font-size: 11px;
}

form {
    line-height: 16px;
}

#customColors {
    margin-top: 2px;
    margin-bottom: 5px;
}

#customColors2 {
    margin-top: 12px;
    margin-bottom: 5px;
}

.colorPicker {
    min-width: auto !important;
    min-height: auto;
    width: 42px;
    height: 21px;
    position: relative;
    top: 13.5px;
    margin-top: -25px;
    margin-left: 5px;
    margin-right: 10px;
}

.colorPicker-color {
    width: 20px;
    height: 11px;
    background-color: black;
    border: 1px solid var(--button-text);
    position: relative;
    top: 0;
    left: -7px;
    float: left
}

.colorPicker-bar {
    width: 1px;
    height: 13px;
    background-color: var(--button-shadow);
    border-right: solid 1px var(--button-hilight);
    position: relative;
    top: 0;
    left: 18px;
}

.colorPicker-expandMark {
    height: 0;
    position: relative;
    top: -15px;
    left: 15px;
    font-size: 10px;
}

mad-select {
    width: 197px;
}

label {
    position: relative;
    left: 10px;
}

fieldset {
    margin-top: 5px;
}

.bottomButtons {
    margin-top: 5px;
    justify-content: flex-end;
}

.disabled {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-hilight);
}