/* Windows XP style */
/* See https://github.com/Ingan121/ModernActiveDesktop/tree/master/buildstuff/XP.css for the source code */
:root {
    --active-border: #D4D0C8;
    --active-title: #0054E3;
    --app-workspace: #808080;
    --background: #004E98;
    --button-alternate-face: #B5B5B5;
    --button-dk-shadow: #716F64;
    --button-face: #ECE9D8;
    --button-hilight: #FFFFFF;
    --button-light: #F1EFE2;
    --button-shadow: #ACA899;
    --button-text: #000000;
    --gradient-active-title: #3D95FF;
    --gradient-inactive-title: #9DB9EB;
    --gray-text: #ACA899;
    --hilight: #316AC5;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #000080;
    --inactive-border: #D4D0C8;
    --inactive-title: #7A96DF;
    --inactive-title-text: #D8E4F8;
    --info-text: #000000;
    --info-window: #FFFFE1;
    --menu: #FFFFFF;
    --menu-bar: #ECE9D8;
    --menu-hilight: #316AC5;
    --menu-text: #000000;
    --scrollbar: #D4D0C8;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: mbcm;
    --menu-animation: fade;
    --menu-shadow: true;
    --scrollbar-size: 17px;
    --menu-height: 19px;
    --palette-title-height: 17px;
    --ui-font: Tahoma, Arial, var(--cjk-fontlink);
    --caption-font: bold 10pt/1 "Trebuchet MS", var(--ui-font);
    --menu-font: 8pt/1.1 var(--ui-font);
    --message-font: 8pt var(--ui-font);
    --status-font: 8pt var(--ui-font);
    --sm-caption-font: bold 8pt/1.1 var(--ui-font);
}
.window {
    --extra-title-height: 4px !important;
    --extra-border-size: 0px !important;
}
