/* Windows Aero */
/* See https://github.com/Ingan121/ModernActiveDesktop/tree/master/buildstuff/7.css for the source code */
:root {
    --active-border: #B4B4B4;
    --active-title: #99B4D1;
    --app-workspace: #ABABAB;
    --background: #000000;
    --button-alternate-face: #000000;
    --button-dk-shadow: #696969;
    --button-face: #F0F0F0;
    --button-hilight: #FFFFFF;
    --button-light: #E3E3E3;
    --button-shadow: #A0A0A0;
    --button-text: #000000;
    --gradient-active-title: #B9D1EA;
    --gradient-inactive-title: #D7E4F2;
    --gray-text: #6D6D6D;
    --hilight: #3399FF;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #0066CC;
    --inactive-border: #F4F7FC;
    --inactive-title: #BFCDDB;
    --inactive-title-text: #434E54;
    --info-text: #000000;
    --info-window: #FFFFE1;
    --menu: #F0F0F0;
    --menu-bar: #F0F0F0;
    --menu-hilight: #3399FF;
    --menu-text: #000000;
    --scrollbar: #C8C8C8;
    --title-text: #000000;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #646464;
    --flat-menus: cm;
    --menu-animation: fade;
    --menu-shadow: true;
    --supports-win-shadow: true;
    --supports-colorization: true;
    --win-open-anim: aeroWinOpen;
    --win-close-anim: aeroWinClose;
    --scrollbar-size: 17px;
    --menu-height: 19px;
    --palette-title-height: 22px;
    --client-edge-size: 0px;
    --ui-font: "Segoe UI", "SegoeUI", "Noto Sans", sans-serif;
    --caption-font: 9pt/1.2 var(--ui-font);
    --menu-font: 9pt/0.9 var(--ui-font);
    --message-font: 9pt var(--ui-font);
    --status-font: 9pt var(--ui-font);
    --sm-caption-font: 9pt/0.9 var(--ui-font);
}
.window {
    --extra-border-size: 5px !important;
    --extra-title-height: 2px !important;
}
.windowContainer[data-style="wnd"]:before,
#madconf-preview #inactiveWindow:before,
#madconf-preview #activeWindow:before,
#msgbox:before,
#osk:before,
.os-window:before {
    background: var(--title-accent, #4580c4);
}
