/*-------------------------------------------*\
    Buttons
\*-------------------------------------------*/

body:not(.unthemed) button:not(.window-button):not(.lightweight):not(.toggle) {
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(236, 235, 229, 1) 86%,
        rgba(216, 208, 196, 1) 100%
    );
    box-shadow: none;
    border-radius: 3px;
    &:not(:disabled) {
        &:active,
        &.active {
            box-shadow: none !important;
            background: linear-gradient(
                180deg,
                rgba(205, 202, 195, 1) 0%,
                rgba(227, 227, 219, 1) 8%,
                rgba(229, 229, 222, 1) 94%,
                rgba(242, 242, 241, 1) 100%
            );
        }
        &:hover {
            box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
        }
    }
    &:focus,
    &.focused {
        box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4,
            inset 2px -2px #89ade4;
    }
    &::-moz-focus-inner {
        border: 0;
    }
}

.tool,
button.toggle {
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid transparent !important;
    border-image: none !important;
    border-radius: 3px;
    &:not(:disabled):not([data-disabled]) {
        &:hover,
        &[data-hover] {
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(236, 235, 229, 1) 86%,
                rgba(216, 208, 196, 1) 100%
            ) !important;
            border-color: #cecec3 !important;
        }
        &:active,
        &[data-active] {
            background: linear-gradient(
                180deg,
                rgba(205, 202, 195, 1) 0%,
                rgba(227, 227, 219, 1) 8%,
                rgba(229, 229, 222, 1) 94%,
                rgba(242, 242, 241, 1) 100%
            ) !important;
            border-color: #9d9d92 !important;
            color: white !important;
        }
    }
    &.selected {
        background: white !important;
        &:not(#JustHereToGiveItPriority) {
            border-color: #7a98af !important;
        }
    }
    &::before {
        display: none;
    }
}

.toolbarButton {
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid transparent !important;
    border-image: none !important;
    border-radius: 3px;
    &:not([data-disabled]) {
        &:hover,
        &[data-hover] {
            background: linear-gradient(
                180deg,
                rgba(254, 254, 253, 1) 0%,
                rgba(246, 246, 241, 1) 19%,
                rgba(244, 244, 238, 1) 50%,
                rgba(241, 241, 234, 1) 86%,
                rgba(238, 237, 229, 1) 89%,
                rgba(228, 225, 214, 1) 94%,
                rgba(215, 210, 198, 1) 100%
            ) !important;
            border-color: #cecec3 !important;
        }
        &:active:not(#JustHereToGiveItPriority),
        &[data-active] {
            background: linear-gradient(
                180deg,
                rgba(205, 202, 195, 1) 0%,
                rgba(227, 227, 219, 1) 8%,
                rgba(229, 229, 222, 1) 94%,
                rgba(242, 242, 241, 1) 100%
            ) !important;
            border-color: #9d9d92 !important;
            color: white !important;
        }
        &[data-enabled] {
            background: white;
            border-color: #7a98af !important;
            &:hover {
                background: linear-gradient(
                    180deg,
                    white 0%,
                    rgba(251, 250, 249, 1) 89%,
                    rgba(240, 237, 233, 1) 94%,
                    rgba(228, 222, 216, 1) 100%
                ) !important;
            }
        }
    }
    &::before {
        display: none !important;
    }
}

#madChanView {
    #toolbar {
        min-height: 38px;
        .toolbarButton:not(#go-button) {
            min-height: 38px;
        }
        &:not(.rightLabels) .toolbarButton:not(#go-button) {
            min-width: 37px;
            .toolbarButtonImage {
                margin-left: 5px;
            }
            &#channels-button .toolbarButtonImage {
                margin-left: 9px;
            }
        }

    }
    .toolbarButtonImage {
        margin-top: 6px;
    }
    #channels-button .toolbarButtonImage {
        margin-top: 7px;
    }
    #toolbar.rightLabels {
        .toolbarButtonLabel {
            top: -10px !important;
        }
        .toolbarButton:not(#go-button):not(#back-button):not(#forward-button) {
            min-width: 32px;
            .toolbarButtonImage {
                margin-left: 3px;
            }
            &#channels-button .toolbarButtonImage {
                margin-left: 7px;
            }
        }
    }
    #back-button .toolbarButtonImage,
    #forward-button .toolbarButtonImage {
        margin-left: 5px;
    }
    &:not([data-fullscreen]) #toolbar.bottomLabels {
        min-height: 52px !important;
        .toolbarButton {
            min-height: 52px !important;
            &:not(#back-expand-button):not(#forward-expand-button) {
                min-width: 77px;
            }
        }
        .toolbarButtonImage {
            margin-left: 26px !important;
        }
        #channels-button .toolbarButtonImage {
            margin-left: 28px !important;
            margin-bottom: 4px;
        }
        #back-expand-button,
        #forward-expand-button {
            span {
                line-height: 40px !important;
            }
        }
    }
    #back-button,
    #forward-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    #back-expand-button,
    #forward-expand-button {
        min-width: 12px !important;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none !important;
        span {
            line-height: 30px;
        }
    }

    #back-button:hover:not([data-disabled]) + #back-expand-button,
    #forward-button:hover:not([data-disabled]) + #forward-expand-button {
        background: linear-gradient(
            180deg,
            rgba(254, 254, 253, 1) 0%,
            rgba(246, 246, 241, 1) 19%,
            rgba(244, 244, 238, 1) 50%,
            rgba(241, 241, 234, 1) 86%,
            rgba(238, 237, 229, 1) 89%,
            rgba(228, 225, 214, 1) 94%,
            rgba(215, 210, 198, 1) 100%
        ) !important;
        border-color: #cecec3 !important;
    }
}