/*-------------------------------------------*\
    Window
\*-------------------------------------------*/

.windowContainer[data-style="wnd"]:not(#JustHereToGiveItPriority),
#madconf-preview #inactiveWindow,
#madconf-preview #activeWindow,
#msgbox,
.os-window {
    box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee,
        inset -3px -3px #003bda, inset 3px 3px #0855dd !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 0 3px 0 !important;
    -webkit-font-smoothing: antialiased;
    border: none !important;
    background-color: #ece9d8 !important;
}

.os-window {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.windowContainer[data-style="wnd"][data-inactive]:not(#JustHereToGiveItPriority),
#madconf-preview #inactiveWindow,
#msgbox[data-inactive],
.os-window:not(.focused) {
    box-shadow: inset -1px -1px #4f53bc, inset 1px 1px #7480dc, inset -2px -2px #6d74cd, inset 2px 2px #758cdd,
        inset -3px -3px #7586dc, inset 3px 3px #758cdc !important;
}

.title-bar,
.os-window > .window-titlebar:not(#JustHereToGiveItPriority) {
    font-family: "Trebuchet MS", Gulim, "MS UI Gothic", SimSun, PMingLiU !important;
    background: linear-gradient(
        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 8%,
        rgba(0, 80, 238, 1) 40%,
        rgba(0, 102, 255, 1) 88%,
        rgba(0, 102, 255, 1) 93%,
        rgba(0, 91, 255, 1) 95%,
        rgba(0, 61, 215, 1) 96%,
        rgba(0, 61, 215, 1) 100%
    );
    padding: 3px 4px 3px 3px;
    border-top: 1px solid #0831d9 !important;
    border-left: 1px solid #0831d9 !important;
    border-right: 1px solid #001ea0 !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 7px;
    font-size: 13px;
    text-shadow: 1px 1px #0f1089;
    height: 21px;
}

.os-window > .window-titlebar:not(#JustHereToGiveItPriority) {
    width: calc(100% - 3px) !important;
    margin-left: -3px !important;
}

.title-bar-text,
.os-window > .window-title:not(#JustHereToGiveItPriority) {
    padding-left: 3px;
}

.title-bar.inactive,
.os-window:not(.focused) > .window-titlebar:not(#JustHereToGiveItPriority) {
    background: linear-gradient(
        180deg,
        #98b2e8 0%,
        #7ea2e4 8%,
        #7a96df 40%,
        #80a5e7 88%,
        #80a5e7 93%,
        #7e9de5 95%,
        #7a93df 96%,
        #7a93df 100%    
    );
    border-top: 1px solid #5b68cd !important;
    border-left: 1px solid #5b68cd !important;
    border-right: 1px solid #001ea0 !important;
    text-shadow: none;
}

.title-bar-controls {
    display: flex;
    button {
        min-width: 21px;
        min-height: 21px;
        margin-left: 2px;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        background-color: #0050ee;
        transition: background 100ms;
        border: none;
        &:active,
        &:hover,
        &:focus {
            box-shadow: none !important;
        }
    }
    button[aria-label="Minimize"] {
        background-image: svg-load("./icon/minimize.svg");
        &:hover {
            background-image: svg-load("./icon/minimize-hover.svg") !important;
        }
        &:not(:disabled):active {
            background-image: svg-load("./icon/minimize-active.svg") !important;
        }
    }
    button[aria-label="Maximize"] {
        background-image: svg-load("./icon/maximize.svg");
        &:hover {
            background-image: svg-load("./icon/maximize-hover.svg") !important;
        }
        &:not(:disabled):active {
            background-image: svg-load("./icon/maximize-active.svg") !important;
        }
    }
    button[aria-label="Restore"] {
        background-image: svg-load("./icon/restore.svg");
        &:hover {
            background-image: svg-load("./icon/restore-hover.svg") !important;
        }
        &:not(:disabled):active {
            background-image: svg-load("./icon/restore-active.svg") !important;
        }
    }
    button[aria-label="Help"] {
        background-image: svg-load("./icon/help.svg");
        &:hover {
            background-image: svg-load("./icon/help-hover.svg") !important;
        }
        &:not(:disabled):active {
            background-image: svg-load("./icon/help-active.svg") !important;
        }
    }
    button {
        background-image: svg-load("./icon/close.svg");
        &:hover {
            background-image: svg-load("./icon/close-hover.svg") !important;
        }
        &:not(:disabled):active {
            background-image: svg-load("./icon/close-active.svg") !important;
        }
    }
    button:before {
        content: "";
    }
}

.title-bar.inactive > .title-bar-controls {
    button {
        background-color: #80a5e7 !important;
    }
    button[aria-label="Minimize"] {
        background-image: svg-load("./icon/minimize-inactive.svg");
    }
    button[aria-label="Maximize"] {
        background-image: svg-load("./icon/maximize-inactive.svg");
    }
    button[aria-label="Restore"] {
        background-image: svg-load("./icon/restore-inactive.svg");
    }
    button[aria-label="Help"] {
        background-image: svg-load("./icon/help-inactive.svg");
    }
    button {
        background-image: svg-load("./icon/close-inactive.svg");
    }
}

.windowContainer[data-style="wnd"]:not([data-unresizable]) > .title-bar {
    margin: 0 !important;
}

.windowIcon {
    top: 6px;
    left: 4px;
}

.clientEdge:not(.forcedClientEdge) { /* Some themed XP programs (i.e. IE6) still use the classic client edge */
    box-shadow: #7f9db9 -1px -1px inset, #7f9db9 1px 1px inset;
}

/* For OS-GUI */
.window-content {
    background-color: transparent !important;
    border: none !important;
}

.window-button:not(#JustHereToGiveItPriority) {
    min-width: 21px;
    min-height: 21px;
    margin-left: 2px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    background-color: #0050ee;
    transition: background 100ms;
    border: none;
    &:active,
    &:hover,
    &:focus {
        box-shadow: none !important;
    }
}

.tool-window {
    .window-titlebar {
        height: 14px !important;
    }
    .window-button:not(#JustHereToGiveItPriority) {
        min-width: 0;
        min-height: 0;
        width: 13px !important;
        height: 13px !important;
    }
}

.window-minimize-button:not(#JustHereToGiveItPriority) {
    background-image: svg-load("./icon/minimize.svg");
    &:hover {
        background-image: svg-load("./icon/minimize-hover.svg") !important;
    }
    &:not(:disabled):active {
        background-image: svg-load("./icon/minimize-active.svg") !important;
    }
}
.window-action-maximize:not(#JustHereToGiveItPriority) {
    background-image: svg-load("./icon/maximize.svg");
    &:hover {
        background-image: svg-load("./icon/maximize-hover.svg") !important;
    }
    &:not(:disabled):active {
        background-image: svg-load("./icon/maximize-active.svg") !important;
    }
}
.window-action-restore:not(#JustHereToGiveItPriority) {
    background-image: svg-load("./icon/restore.svg");
    &:hover {
        background-image: svg-load("./icon/restore-hover.svg") !important;
    }
    &:not(:disabled):active {
        background-image: svg-load("./icon/restore-active.svg") !important;
    }
}
.window-help-button:not(#JustHereToGiveItPriority) {
    background-image: svg-load("./icon/help.svg");
    &:hover {
        background-image: svg-load("./icon/help-hover.svg") !important;
    }
    &:not(:disabled):active {
        background-image: svg-load("./icon/help-active.svg") !important;
    }
}
.window-close-button:not(#JustHereToGiveItPriority) {
    background-image: svg-load("./icon/close.svg");
    &:hover {
        background-image: svg-load("./icon/close-hover.svg") !important;
    }
    &:not(:disabled):active {
        background-image: svg-load("./icon/close-active.svg") !important;
    }
    margin-right: 0;
}
.os-window.tool-window .window-close-button:not(#JustHereToGiveItPriority) {
    background-image: svg-load("./icon/close-toolwindow.svg");
    &:hover {
        background-image: svg-load("./icon/close-toolwindow-hover.svg") !important;
    }
    &:not(:disabled):active {
        background-image: svg-load("./icon/close-toolwindow-active.svg") !important;
    }
}
.window-button-icon {
    display: none;
}

.os-window:not(.focused) {
    .window-button:not(#JustHereToGiveItPriority) {
        background-color: #80a5e7 !important;
    }
    .window-minimize-button:not(#JustHereToGiveItPriority) {
        background-image: svg-load("./icon/minimize-inactive.svg");
    }
    .window-action-maximize:not(#JustHereToGiveItPriority) {
        background-image: svg-load("./icon/maximize-inactive.svg");
    }
    .window-action-restore:not(#JustHereToGiveItPriority) {
        background-image: svg-load("./icon/restore-inactive.svg");
    }
    .window-help-button:not(#JustHereToGiveItPriority) {
        background-image: svg-load("./icon/help-inactive.svg");
    }
    .window-close-button:not(#JustHereToGiveItPriority) {
        background-image: svg-load("./icon/close-inactive.svg");
    }
}

.os-window.tool-window:not(.focused) {
    .window-close-button:not(#JustHereToGiveItPriority) {
        background-image: svg-load("./icon/close-toolwindow-inactive.svg");
    }
}

.os-window.maximized > .window-titlebar:not(#JustHereToGiveItPriority) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -2px;
}

.os-window.tool-window > .window-titlebar:not(#JustHereToGiveItPriority) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.status-area {
    border-top: solid 1px #959385;
    box-shadow: inset 0 3px 2px -2px rgba(0, 0, 0, 0.25);
    padding: 2px 0;
    box-sizing: border-box;
}
.status-field {
    border: none;
    border-right: solid 1px #c7c5b2;
}
.status-text {
    padding-left: 2px;
    box-sizing: border-box;
}
.status-field:not(:first-child) {
    margin-left: -2px;
    border-left: solid 1px #ffffff;
}
.status-resize-area {
    margin-left: -2px;
    border-left: solid 1px #ffffff;
}

.menus {
    background-color: #ECE9D8 !important; /* enforced in XP by visual styles & flat menus */
}

body:not(#madChanView) .menu, .menus {
    outline: solid 1px white;
}

.menu-button {
    background-color: #ECE9D8 !important;
}

.status-bar {
    margin: 0 3px;
    box-shadow: inset 0px 1px 2px var(--button-shadow);
    padding: 2px 1px;
    gap: 0px;
}

.status-bar-field {
    -webkit-font-smoothing: antialiased;
    box-shadow: none;
    padding: 1px 2px;
    border-right: 1px solid rgba(208, 206, 191, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    &:first-of-type{
        border-left: none;
    }
    &:last-of-type {
        border-right: none;
    }
}

/* madconf adjustments */
#madconf {
    #previewMonitor {
        content: url("../apps/madconf/images/monitor_xp.png");
    }

    #schemePreview {
        height: 176px;
    }

    #schemeSelector:lang(ko) {
        width: 180px;
    }

    #schemeSelectorGroup button:lang(ko) {
        min-width: 0;
        padding: 0 4px;
    }

    #itemSize {
        background-image: svg-load("./icon/spin-button.svg");
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 20px;
    }

    #itemSize:disabled {
        background-image: svg-load("./icon/spin-button-disabled.svg");
    }

    #itemSizeButtons {
        opacity: 0;
        * {
            width: 18px;
            left: -20px;
        }
    }

    #textColorWrap {
        margin-left: 9px;
    }

    #boldToggle,
    #italicToggle {
        left: 1px;
        margin-top: 17px;
        min-height: 23px;
    }

    .window-body {
        padding-bottom: 0;
    }

    &.madconf-misc .window-body {
        margin-top: 5px;
        margin-bottom: 6px;
    }
    
    &.madconf-inet-general .window-body,
    &.madconf-inet-connection .window-body {
        margin-top: 2px;
        margin-bottom: 4px;
    }

    #schemeArea {
        margin-left: 16px;
    }

    &.madconf-inet-connection ul {
        margin-top: 2px;
        margin-bottom: 0;
    }

    #creditsMain {
        height: 120px;
    }
}

#madconf-preview {
    .title-bar {
        border: none;
    }

    #inactiveWindow {
        height: 118px;
        background-color: white !important;
    }

    #activeWindow {
        width: 323px;
        height: 115px;
        top: 20px;
        left: 10px;
        background-color: white !important;
    }

    .menu {
        display: none;
    }

    textarea {
        margin: 0;
        width: 322px;
        height: 90px;
        box-shadow: none !important;
        border: none;
        background-color: transparent;
        font-weight: normal;
        background-clip: content-box;
    }

    #msgbox {
        width: 143px;
        height: 95px;
        top: 41px;
        left: 100px;
    }

    #msgbox-msg {
        display: none;
    }

    #msgbox-btn1 {
        margin-top: 19px;
        height: 30px;
        font-weight: normal;
        box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4,
            inset 2px -2px #89ade4;
        position: unset;
        bottom: unset;
    }
}

/* XP IE6 styles for ChannelViewer */
#madChanView {
    #toolbars {
        border: none;
        outline: none;
        box-shadow: none;
        margin: 0;
        background-image: linear-gradient(to right, #edede5, #ede8cd);
    }

    #toolbars > div:not(:first-child) {
        border-top-color: #ffffff;
    }

    #toolbars > div:not(:last-child) {
        border-bottom-color: #d8d2bd;
    }

    #back-button .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Back.png');
    }

    #back-button:hover .toolbarButtonImage,
    #back-button[data-hover] .toolbarButtonImage,
    #back-button[data-disabled] .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Back_hover.png');
    }

    #forward-button .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Forward.png');
    }

    #forward-button:hover .toolbarButtonImage,
    #forward-button[data-hover] .toolbarButtonImage,
    #forward-button[data-disabled] .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Forward_hover.png');
    }

    #back-button[data-disabled] .toolbarButtonImage,
    #forward-button[data-disabled] .toolbarButtonImage {
        filter: grayscale(100%);
    }

    #refresh-button .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Refresh.png');
    }

    #refresh-button:hover .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Refresh_hover.png');
    }

    #stop-button .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Stop.png');
    }

    #stop-button:hover .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Stop_hover.png');
    }

    #home-button .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Home.png');
    }

    #home-button:hover .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Home_hover.png');
    }

    #favorites-button .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Favorites.png');
    }

    #favorites-button:hover .toolbarButtonImage,
    #favorites-button[data-enabled] .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Favorites_hover.png');
    }

    #fullscreen-button .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Fullscreen.png');
    }

    #fullscreen-button:hover .toolbarButtonImage,
    #fullscreen-button[data-enabled] .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Fullscreen_hover.png');
    }

    #print-button .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Print.png');
    }

    #print-button:hover .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Print_hover.png');
    }

    #open-button .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Open.png');
    }

    #open-button:hover .toolbarButtonImage {
        content: url('../apps/channelviewer/images/xp/Open_hover.png');
    }

    #go-button {
        height: 24px !important;
        border-radius: 0;
        margin-top: -1px;
        img {
            top: 1px;
            left: 2px;
            content: url('../apps/channelviewer/images/xp/Go.png');
        }
    }

    #go-button:hover img {
        content: url('../apps/channelviewer/images/xp/Go_hover.png');
    }

    &::after {
        content: url('../apps/channelviewer/images/xp/Back_hover.png') url('../apps/channelviewer/images/xp/Forward_hover.png') url('../apps/channelviewer/images/xp/Refresh_hover.png') url('../apps/channelviewer/images/xp/Stop_hover.png') url('../apps/channelviewer/images/xp/Home_hover.png') url('../apps/channelviewer/images/xp/Favorites_hover.png') url('../apps/channelviewer/images/Channels_hover.png') url('../apps/channelviewer/images/xp/Fullscreen_hover.png') url('../apps/channelviewer/images/xp/Print_hover.png') url('../apps/channelviewer/images/xp/Open_hover.png') url('../apps/channelviewer/images/xp/Go_hover.png') url('../apps/channelviewer/images/xp/throbber.webp') url('../apps/channelviewer/images/xp/throbber26.webp');
    }

    #throbber {
        background-color: white;
        background-image: url(../apps/channelviewer/images/xp/throbber.png);
        &[data-busy] {
            background-image: url(../apps/channelviewer/images/xp/throbber.webp);
        }
    }

    #toolbar #throbber {
        background-image: url(../apps/channelviewer/images/xp/throbber26.png);
        &[data-busy] {
            background-image: url(../apps/channelviewer/images/xp/throbber26.webp);
        }
    }

    #windowBtnContainer {
        height: 38px;
        color: gray;
        background-color: white;
        background-image: url(../apps/channelviewer/images/xp/throbber26.png);
        &[data-busy] {
            background-image: url(../apps/channelviewer/images/xp/throbber26.webp);
        }
    }

    #statusBar {
        border-top: solid 1px #959385;
        box-shadow: inset 0 3px 2px -2px rgba(0, 0, 0, 0.25);
    }
    #statusMain {
        box-shadow: none;
    }
    #statusRight {
        margin: 2px 0;
        border-left: solid 1px #c7c5b2;
    }
    .emptySpace {
        margin: 0 !important;
        box-shadow: none;
        border-left: solid 1px #ffffff;
        border-right: solid 1px #c7c5b2;
    }
    #zone {
        box-shadow: none;
        border-left: solid 1px #ffffff;
    }

    .grabber {
        box-shadow: none;
        margin: 4px 2px 0 4px;
        height: calc(100% - 7px);
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAYAAABLLYUHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnMAABJzAYwiuQcAAAAySURBVBhXY7x2/tj/uw+fMthY2zAw3X14l+HWjfMMAiISDAzPnz//Dwa///9nQAAGBgDcJxfE1szABQAAAABJRU5ErkJggg==");
    }

    .separator {
        border-left-color: #cac6af;
        border-right: none;
    }
}

.windowContainer .resizeArea {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnMAABJzAYwiuQcAAABPSURBVChTpY/BDcAgDANd9l+i6gp5sF2oJb8ihEHcB53C4wxHjy97vClF07vmAfJH5uFnIr2kNu9tqM1uA49EernBNc83uObqFCK1fgAwAC7BbGGRv58cAAAAAElFTkSuQmCC");
    &.extraMargin {
        /* Well XP did put a invisible resize area when located at the corner of scroll bars */
        background-image: none;
    }
}

/* Change dialog icons to XP ones */
#msgbox-icon {
    margin-top: 3px;
    margin-left: 6px;
}

#msgbox-icon[src="images/warning.png"],
img[src="images/warning-32x32-8bpp.png"] {
    content: url("../images/xp_warning.png");
}

#msgbox-icon[src="images/error.png"],
img[src="images/error-32x32-8bpp.png"] {
    content: url("../images/xp_error.png");
}

#msgbox-icon[src="images/info.png"],
img[src="images/info-32x32-8bpp.png"] {
    content: url("../images/xp_info.png");
}

#msgbox-icon[src="images/question.png"],
img[src="images/question-32x32-8bpp.png"] {
    content: url("../images/xp_question.png");
}