:root {
    --sidebar-width: 196px;
}

html,body {
    height: 100%;
    user-select: none;
    margin: 0;
    overflow: hidden;
    background-color: var(--button-face);
}

body {
    display: flex;
    flex-direction: column;
}

* {
    font-family: var(--ui-font);
}

#toolbars, #sidebar {
    border-top: solid 1px var(--button-hilight);
    border-left: solid 1px var(--button-hilight);
    outline: solid 1px var(--button-shadow);
    box-shadow: var(--button-hilight) -1px 2px, var(--button-hilight) 2px 2px, var(--button-hilight) 2px -1px, var(--button-hilight) 2px 2px;
    margin: 1px 2px 2px 1px;
    background-color: var(--button-face);
}

#toolbars > div:not(:first-child),
#sidebarWindow {
    border: none;
    border-top: solid 1px var(--button-hilight);
}

#toolbars > div:not(:last-child),
#sidebarTitle {
    border-bottom: solid 1px var(--button-shadow);
}

#menuBar {
    height: calc(var(--menu-height) + 4px);
    margin-bottom: 0;
    background-color: transparent;
}

.menuBtn {
    margin: 1px 0;
    padding: calc((var(--menu-height) - 14px) / 2 + 1px) 7px 2px 8px;
}

.menuBtn[data-active] {
    padding-top: calc((var(--menu-height) - 14px) / 2 + 2px);
}

#fileMenuBtn {
    margin-left: 2px;
}

#throbber {
    width: 38px;
    border-left: solid 1px var(--button-hilight);
    box-shadow: var(--button-shadow) -1px 0;
    background-color: black;
    background-image: url(images/throbber.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
}

#throbber[data-busy] {
    background-image: url(images/throbber.webp);
}

#throbber:before {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    position: relative;
    top: 22px;
    left: -1px;
    background-color: white;
}

#toolbar #throbber {
    background-image: url('images/throbber26.png');
}

#toolbar #throbber[data-busy] {
    background-image: url('images/throbber26.webp');
}

.grabber {
    width: 3px;
    height: calc(100% - 4px);
    margin: 2px;
    box-shadow: inset -1px -1px var(--button-shadow), inset 1px 1px var(--button-hilight);
    cursor: e-resize;
    padding: 0 !important;
    touch-action: none;
}

#toolbars.locked .grabber {
    display: none;
}

.separator {
    width: 0px;
    height: calc(100% - 4px);
    margin: 2px 2px 2px 3px;
    border-left: solid 1px var(--button-shadow);
    border-right: solid 1px var(--button-hilight);
}

#windowBtnContainer {
    width: 70px;
    height: 26px;
    background-color: black;
    border-left: solid 1px var(--button-hilight);
    box-shadow: var(--button-shadow) -1px 0;
    margin-left: 5px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('images/throbber26.png');
    background-position: 5px 0;
    background-repeat: no-repeat;
}

#windowBtnContainer[data-busy] {
    background-image: url('images/throbber26.webp');
}

.windowBtn {
    width: 15px;
    height: 13px;
    position: absolute;
    top: 2px;
    right: 0;
    border: solid 1px transparent;
}

.windowBtn p {
    color: var(--button-shadow);
    font-size: 12px;
    text-align: center;
    margin-top: -3px;
}

.windowBtn:hover {
    border-top: solid 1px white;
    border-left: solid 1px white;
    border-bottom: solid 1px rgb(128, 128, 128);
    border-right: solid 1px rgb(128, 128, 128);
}

.windowBtn:hover:active {
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    border-top: solid 1px rgb(128, 128, 128);
    border-left: solid 1px rgb(128, 128, 128);
}

#windowRestoreBtn {
    right: 17px;
}

.toolbarButton {
    min-width: 27px;
    height: 24px;
    float: left;
    border: solid 1px transparent;
    position: relative;
}

.toolbarButtonImage {
    margin: 2px;
    margin-left: 4px;
    position: relative;
    z-index: 1;
}

.toolbarButton:hover:not([data-disabled]):not([data-enabled]),
.toolbarButton[data-hover]:not([data-disabled]) {
    border-top: solid 1px white;
    border-left: solid 1px white;
    border-bottom: solid 1px rgb(128, 128, 128);
    border-right: solid 1px rgb(128, 128, 128);
}

.toolbarButton:hover:active:not([data-disabled]),
.toolbarButton[data-active]:not([data-disabled]),
.toolbarButton[data-enabled] {
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    border-top: solid 1px rgb(128, 128, 128);
    border-left: solid 1px rgb(128, 128, 128);
}

.toolbarButton[data-enabled]:before {
    content: '';
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 1px;
    left: 1px;
    background-image: var(--checkers);
}

.toolbarButtonLabel {
    display: none;
    position: relative;
    z-index: 1;
}

#back-button {
    margin-left: 2px;
}

#back-button,
#forward-button {
    min-width: 26px;
}

#back-button .toolbarButtonImage {
    margin-left: 7px;
}
#forward-button .toolbarButtonImage {
    margin-left: 6px;
}

#back-expand-button,
#forward-expand-button {
    min-width: 12px;
}

#back-expand-button span,
#forward-expand-button span {
    font-size: 10px;
    line-height: 24px;
    margin-left: 1px;
}

#back-button:hover:not([data-disabled='true']) + #back-expand-button,
#forward-button:hover:not([data-disabled='true']) + #forward-expand-button {
    border-top: solid 1px white;
    border-left: solid 1px white;
    border-bottom: solid 1px rgb(128, 128, 128);
    border-right: solid 1px rgb(128, 128, 128);
}

#back-button:hover:not([data-disabled='true']) .toolbarButtonImage,
#back-button[data-hover]:not([data-disabled='true']) .toolbarButtonImage {
    content: url('images/Back_hover.png');
}

#back-button[data-disabled='true'] .toolbarButtonImage {
    content: url('images/Back_disabled.png');
}

#forward-button:hover:not([data-disabled='true']) .toolbarButtonImage,
#forward-button[data-hover]:not([data-disabled='true']) .toolbarButtonImage {
    content: url('images/Forward_hover.png');
}

#forward-button[data-disabled='true'] .toolbarButtonImage {
    content: url('images/Forward_disabled.png');
}

#refresh-button:hover .toolbarButtonImage {
    content: url('images/Refresh_hover.png');
}

#stop-button:hover .toolbarButtonImage {
    content: url('images/Stop_hover.png');
}

#home-button:hover .toolbarButtonImage {
    content: url('images/Home_hover.png');
}

#favorites-button:hover .toolbarButtonImage,
#favorites-button[data-enabled] .toolbarButtonImage{
    content: url('images/Favorites_hover.png');
}

#channels-button:hover .toolbarButtonImage,
#channels-button[data-enabled] .toolbarButtonImage{
    content: url('images/Channels_hover.png');
}

#fullscreen-button:hover .toolbarButtonImage,
#fullscreen-button[data-enabled] .toolbarButtonImage {
    content: url('images/Fullscreen_hover.png');
}

#print-button:hover .toolbarButtonImage {
    content: url('images/Print_hover.png');
}

#open-button:hover .toolbarButtonImage {
    content: url('images/Open_hover.png');
}

#go-button {
    min-width: 44px !important;
    height: 20px !important;
    margin-left: -2px;
    margin-right: 4px;
    position: relative;
    display: none;
}

#go-button img {
    position: absolute;
    top: 2px;
    left: 4px;
}

#go-button:hover img {
    content: url('images/Go_hover.png');
}

#go-button span {
    font-size: 11px;
    line-height: 20px;
    margin-left: 23px;
}

body::after { /* preload images */
    position: absolute; width: 0; height: 0; overflow: hidden; z-index: -1; 
    content: url('images/Back_hover.png') url('images/Forward_hover.png') url('images/Refresh_hover.png') url('images/Stop_hover.png') url('images/Home_hover.png') url('images/Favorites_hover.png') url('images/Channels_hover.png') url('images/Fullscreen_hover.png') url('images/Print_hover.png') url('images/Open_hover.png') url('images/Go_hover.png') url('images/throbber.webp') url('images/throbber26.webp');
}

#toolbar {
    height: 26px;
    display: flex;
}

#addressBar {
    width: 100%;
    height: 22px;
    display: flex;
    overflow: hidden;
}

#addressText {
    font-size: 11px;
    margin-left: 2px;
    line-height: 24px;
}

#urlbar {
    width: 100%;
    height: 22px;
    margin: 0 4px 0 3px;
    background-image: url('images/icon.png');
    background-size: 16px 16px;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-left: 24px;
}

::selection {
    color: var(--hilight-text);
    background-color: var(--hilight);
}

#mainArea {
    display: flex;
    height: 100%;
    padding-bottom: 4px;
    box-sizing: border-box;
}

#sidebar {
    display: none;
    width: var(--sidebar-width);
    height: 100%;
    margin-right: 6px;
    position: relative;
}

#sidebarTitle {
    width: 100%;
    height: 20px;
}

#sidebarTitleText {
    display: inline-block;
    margin-top: 5px;
    margin-left: 9px;
    font-size: 11px;
}

#sidebarCloseBtn {
    top: 3px;
    right: 5px;
}

#sidebarCloseBtn p {
    color: var(--button-text);
}

#sidebarWindow {
    width: 100%;
    height: calc(100% - 22px);
}

#border {
    width: 4px;
    height: calc(100% + 4px);
    background-color: black;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCA0IDIiIHdpZHRoPSI0IiBoZWlnaHQ9IjIiPjxyZWN0IGZpbGw9InRyYW5zcGFyZW50IiB4PSIwIiB5PSIwIiB3aWR0aD0iMyIgaGVpZ2h0PSIyIi8+PHJlY3QgZmlsbD0id2hpdGUiIHg9IjMiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCBmaWxsPSJ0cmFuc3BhcmVudCIgeD0iNCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjwvc3ZnPg==');
    mix-blend-mode: difference;
    position: absolute;
    top: -2px;
    left: calc(var(--sidebar-width) + 2px);
    opacity: 0;
    cursor: ew-resize;
    touch-action: none;
}

#iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    background-color: var(--window);
    padding: 2px;
}

#mainArea.sidebarOpen #sidebar {
    display: block;
}

#mainArea.sidebarOpen #iframe {
    width: calc(100% - var(--sidebar-width) - 10px);
}

#statusBar {
    display: flex;
    width: 100%;
    height: 21px;
    border-top: solid 2px var(--button-face);
}

#statusMain {
    width: 100%;
    padding-left: 24px;
    box-shadow: var(--button-hilight) -1px -1px inset, var(--button-shadow) 1px 1px inset;
    background-image: url('images/icon_status.png');
    background-size: 16px 16px;
    background-position: 3px 1px;
    background-repeat: no-repeat;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#statusRight {
    display: flex;
    margin-left: auto;
}

.emptySpace {
    width: 22px;
    height: 18px;
    margin-right: 2px;
    box-shadow: var(--button-hilight) -1px -1px inset, var(--button-shadow) 1px 1px inset;
}

#progressBarSpace {
    width: 148px;
    margin-left: 2px;
}

#zone {
    width: 290px;
    height: 18px;
    padding-left: 24px;
    box-sizing: border-box;
    box-shadow: var(--button-hilight) -1px -1px inset, var(--button-shadow) 1px 1px inset;
    background-image: url('images/zone_internet.png');
    background-size: 16px 16px;
    background-position: 3px 1px;
    background-repeat: no-repeat;
    line-height: 16px;
}

body:not([data-fullscreen]) #toolbar.bottomLabels {
    height: 40px;
}

body:not([data-fullscreen]) #toolbar.bottomLabels .toolbarButton {
    height: 38px;
}

body:not([data-fullscreen]) #toolbar.bottomLabels .toolbarButton:not(#back-expand-button):not(#forward-expand-button) {
    min-width: 53px;
}

body:not([data-fullscreen]) #toolbar.bottomLabels .toolbarButtonImage {
    margin-left: 17px;
}

body:not([data-fullscreen]) #toolbar.bottomLabels #back-button .toolbarButtonImage {
    margin-left: 21px;
}

body:not([data-fullscreen]) #toolbar.bottomLabels #forward-button .toolbarButtonImage {
    margin-left: 20px;
}

body:not([data-fullscreen]) #toolbar.bottomLabels #back-expand-button span,
body:not([data-fullscreen]) #toolbar.bottomLabels #forward-expand-button span {
    line-height: 36px;
}

body:not([data-fullscreen]) #toolbar.bottomLabels .toolbarButtonLabel {
    display: block;
    text-align: center;
    position: relative;
    bottom: 4px;
}

body:not([data-fullscreen]) #toolbar.rightLabels #back-button .toolbarButtonLabel,
body:not([data-fullscreen]) #toolbar.rightLabels #favorites-button .toolbarButtonLabel {
    display: inline;
    position: relative;
    top: -8px;
    margin-right: 5px;
}

body[data-fullscreen] #toolbars {
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    box-shadow: none;
    margin: 0;
}

body[data-fullscreen] #toolbar {
    display: flex !important;
    border: none;
}

body[data-fullscreen] #menuBar {
    display: none;
}

body[data-fullscreen] #addressBar {
    display: none;
}

body[data-fullscreen] #windowBtnContainer {
    display: block;
}

body[data-fullscreen] #mainArea {
    padding-bottom: 0;
}

body[data-fullscreen] #iframe {
    box-shadow: none;
    padding: 0;
    width: 100%;
}

body[data-fullscreen] #statusBar {
    display: none;
}

.contextMenuBg {
    top: calc(var(--menu-height) + 4px);
    z-index: 100;
}

#favoritesMenuBg {
    min-width: 150px;
    max-width: 500px;
}

#favoritesMenu .contextMenuItem {
    height: calc(var(--menu-height) + 2px);
}

#favoritesMenu .contextMenuItem p {
    padding-top: 4px;
}

.favoriteItem {
    background-image: url('images/icon.png');
    background-size: 16px 16px;
    background-position: 4px 2px;
    background-repeat: no-repeat;
}

#favoritesMenu > .contextMenuItem > p {
    padding-left: 21px;
}

#historyMenuBg {
    min-width: 60px;
    max-width: 500px;
}

#historyMenu .contextMenuItem p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}