body {
    background-color: var(--button-face);
    font: 11px var(--ui-font);
    overflow: hidden;
    user-select: none;
    height: 100%;
}

#lyricsView {
    height: 100%;
    overflow-y: scroll;
}