button:not(.window-button):not(.lightweight),
[role="button"] {
  font: var(--font);
  box-sizing: border-box;
  border: var(--button-border);
  border-color: var(--button-border-color);
  border-radius: var(--border-radius);
  border-image: none !important;
  box-shadow: var(--button-shadow) !important;
  color: #222;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  text-align: center;
  background: var(--button-gradient);
  position: relative;
  z-index: 0;

  /* Button style on hovered */
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--button-shadow);
    background: var(--button-gradient-hovered);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
    border: none !important;
    right: unset;
    bottom: unset;
  }

  /* Button style on clicked */
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    box-shadow: var(--button-shadow-active);
    border-radius: 2px;
    background: var(--button-gradient-active);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
  }

  &:disabled {
    background: var(--button-face-disabled);
    border-color: var(--button-border-color-disabled);
    color: var(--button-text-color-disabled);
  }

  &:not(:disabled) {
    /* Animation when hovered */
    &:hover {
      border-color: var(--button-border-color-hovered);
      transition: border-color 0.3s;

      &::before {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }

    /* Animation when unhovered */
    &:not(:hover) {
      border-color: var(--button-border-color);
      transition: border-color 1s linear;

      &::before {
        opacity: 0;
        transition: opacity 1s linear;
      }
    }

    &:active,
    &.active {
      border-color: var(--button-border-color-active);
      transition: border-color 0.3s;

      &::after {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }

  &:focus-visible,
  &.focused {
    box-shadow: inset 0 0 0 2px var(--button-shade-light-active);
    outline: 1px dotted #000;
    outline-offset: -4px;
  }

  &.default,
  &:focus,
  &.focused {
    border-color: var(--button-border-color-default);
    background-image: var(--button-gradient-hovered);
    animation: 1s ease infinite alternate pulse-anim;
  }
}

@keyframes pulse-anim {
  from {
    box-shadow: inset 0 0 3px 1px #34deffdd;
  }
  to {
    box-shadow: inset 0 0 1px 1px #34deffdd;
  }
}

/* JSPaint stuff (Vista paint style) */
.toggle {
  min-width: 0 !important;
}

.tool {
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid transparent !important;
  border-image: none !important;
  border-radius: 3px;
  &:not(:disabled):not([data-disabled]) {
    &:hover,
    &[data-hover] {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.6) 0%,
        transparent 33%,
        rgba(0, 0, 0, 0.09) 34%,
        transparent 75%
      ) !important;
      border: solid 1px #9398a5 !important;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5) !important;
    }
    &:active,
    &[data-active],
    &.selected {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.15) 10%,
        rgba(0, 0, 0, 0.04) 24%,
        rgba(0, 0, 0, 0.04) 33%,
        rgba(0, 0, 0, 0.07) 34%,
        rgba(0, 0, 0, 0.04) 75%
      ) !important;
      border-color: #4a4c53 !important;
      box-shadow: inset 1px 0 rgba(128, 128, 128, 0.5), inset 2px 0 rgba(128, 128, 128, 0.2) !important;
    }
  }
  &::before {
    display: none;
  }
}

.tool-icon {
	background-image: url("../../../apps/jspaint/images/modern/vista-tools.png");
}
.tool-icon.use-svg {
  background-image: url("../../../apps/jspaint/images/modern/modern-light-tools.svg");
}
.eye-gaze-mode .tool-icon.use-svg {
	background-image: url("../../../apps/jspaint/images/classic/tools.svg");
}

/* ChannelViewer stuff */
.toolbarButton {
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid transparent !important;
  border-image: none !important;
  border-radius: 3px;
  margin: 1px 0;
  position: relative;
  z-index: 0;

  &::before {
    display: none !important;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: -1px;
    left: -1px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.6) 0%,
      transparent 33%,
      rgba(0, 0, 0, 0.09) 34%,
      transparent 75%
    ) !important;
    border: solid 1px #9398a5 !important;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5) !important;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }

  &:not(:disabled):not([data-disabled]) {
    &:hover,
    &[data-hover],
    &[data-enabled] {
      &::after {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
    &:active,
    &[data-active],
    &[data-enabled] {
      &::after {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.15) 10%,
            rgba(0, 0, 0, 0.04) 24%,
            rgba(0, 0, 0, 0.04) 33%,
            rgba(0, 0, 0, 0.07) 34%,
            rgba(0, 0, 0, 0.04) 75%
        ) !important;
        border-color: #4a4c53 !important;
        box-shadow: inset 1px 0 rgba(128, 128, 128, 0.5), inset 2px 0 rgba(128, 128, 128, 0.2) !important;
      }
    }
  }
}

#madChanView {
  #toolbar {
    min-height: 38px;
  }
  .toolbarButton:not(#go-button) {
    min-width: 29px;
    min-height: 36px;
  }
  .toolbarButtonImage {
    margin-top: 6px;
  }
  #channels-button .toolbarButtonImage {
    margin-top: 7px;
  }
  #toolbar.rightLabels {
    .toolbarButtonLabel {
      top: -7px !important;
    }
  }
  &:not([data-fullscreen]) #toolbar.bottomLabels {
    min-height: 52px;
    .toolbarButton {
      min-height: 50px;
      &:not(#back-expand-button):not(#forward-expand-button) {
        min-width: 77px;
      }
    }
    .toolbarButtonImage {
      margin-left: 28px !important;
    }
    #channels-button .toolbarButtonImage {
      margin-bottom: 4px;
    }
    #back-expand-button,
    #forward-expand-button {
      span {
        line-height: 40px !important;
      }
    }
  }
  #back-button,
  #forward-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #back-expand-button,
  #forward-expand-button {
    min-width: 12px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none !important;
    span {
      line-height: 30px;
    }
  }

  #back-button:hover:not([data-disabled='true']) + #back-expand-button,
  #forward-button:hover:not([data-disabled='true']) + #forward-expand-button {
    &::before {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}