:root {
  --menu-padding: 3px;
  --item-offset-left: 30px;
  --item-hover-background: linear-gradient(
    to bottom,
    #fff9,
    #e6ecf5cc 90%,
    #fffc
  );
  --item-hover-background-disabled: linear-gradient(
    to bottom,
    #fff9,
    #e6e6e6cc 90%,
    #fffc
  );
}

ul {
  &[role] {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
  }

  &[role="menubar"] {
    display: flex;
    background: linear-gradient(
      #fff 20%,
      #f1f4fa 25%,
      #f1f4fa 43%,
      #d4dbee 48%,
      #e6eaf6
    );

    > [role="menuitem"] {
      position: relative;
      padding: 6px 10px;

      &:focus,
      &:focus-within,
      &:hover {
        background: #3399ff;
        color: #fff;
        outline: none;
        ~ [role="menuitem"]:focus,
        ~ [role="menuitem"]:focus-within {
          background: transparent;
          color: inherit;
        }
        &:has(~ [role="menuitem"]:hover) {
          background: transparent;
          color: inherit;
        }
      }
    }
  }

  &[role="menu"] {
    position: relative;
    min-width: 150px;
    padding: var(--menu-padding);
    background: var(--surface);
    color: initial;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 3px -2px rgba(0, 0, 0, 0.5);

    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      left: var(--item-offset-left);
      width: 2px;
      height: calc(100% - 4px);
      box-shadow: inset 1px 0 rgba(0, 0, 0, 0.15), inset -1px 0 #fff;
    }

    [role="menuitem"] & {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 99;
    }

    & [role="menuitem"] > [role="menu"] {
      top: -4px;
      left: 100%;
    }

    > [role="menuitem"] {
      > a,
      > button,
      > label,
      &[aria-haspopup="true"] {
        all: unset;
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 4px 10px 4px 32px;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 3px;
        white-space: nowrap;

        &:hover,
        &:focus-visible {
          background: var(--item-hover-background);
          border-color: #b8d6fb;
        }
      }

      > button {
        &:hover::before,
        &::after {
          content: none;
        }
      }

      &[aria-haspopup="true"] {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 2px;
          transform: translateY(-50%);
          border: 4px solid transparent;
          border-left-color: currentColor;
        }
      }
    }
  }

  [role="menuitem"] {
    position: relative;

    > input[type] {
      display: none;

      & + label {
        display: block;
        position: relative;

        &::before {
          all: unset; /* unset the standalone checkbox/radio styles */
          background: var(--item-hover-background);
          box-shadow: 0 0 0 1px #b3d3f9;
          border-radius: inherit;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          width: 22px;
          height: 22px;
        }
      }

      &:checked + label {
        &::before {
          content: "";
        }
      }

      &[type="radio"]:checked + label {
        &::after {
          left: 8px;
          top: 50%;
          transform: translateY(-50%);
          background: radial-gradient(circle at 75% 25%, #d5d4ea, #333583);
          border: 1px solid #1a1490;
          box-shadow: none;
        }
      }

      &[type="checkbox"]:checked + label {
        &::after {
          color: rgb(12, 18, 161);
          font-size: 10pt;
          left: 6px;
          top: 50%;
          transform: translateY(-52%);
        }
      }
    }

    &:focus,
    &:focus-within {
      > [role="menu"] {
        display: block;
      }
      &:has(~ [role="menuitem"]:hover) {
        > [role="menu"] {
          display: none;
        }
      }
    }

    &[aria-disabled] {
      opacity: 0.5;
      pointer-events: none;
    }

    &.has-divider {
      &::after {
        content: "";
        pointer-events: none;
        display: block;
        margin: 3px 0 2px;
        height: 2px;
        margin-left: var(--item-offset-left);
        box-shadow: inset 0 1px #00000026, inset 0 -1px #fff;
      }
    }

    img {
      position: absolute;
      z-index: 1;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }

    span {
      margin-left: 32px;
    }
  }

  &.can-hover [role="menuitem"]:hover {
    > [role="menu"] {
      display: block;
    }
    ~ [role="menuitem"]:focus,
    ~ [role="menuitem"]:focus-within {
      background: transparent;
      color: inherit;
      > [role="menu"] {
        display: none;
      }
    }
  }
}

body:not(#madChanView) .menu, .menus {
  background: linear-gradient(
    #fff 20%,
    #f1f4fa 25%,
    #f1f4fa 43%,
    #d4dbee 48%,
    #e6eaf6
  );
  outline: solid 1px #b6bccc;
}

#madChanView #toolbars > div:first-child {
  background: linear-gradient(
    #fff 20%,
    #f1f4fa 25%,
    #f1f4fa 43%,
    #d4dbee 48%,
    #e6eaf6
  );
}

.menu-button {
  background-color: transparent;
}

.menuBtn, .menu-button {
  border-radius: 3px !important;
  border-image: none !important;
  clip-path: none !important;
  &:hover {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.6) 0%,
      transparent 33%,
      rgba(0, 0, 0, 0.09) 34%,
      transparent 75%
    ) !important;
    border: solid 1px #9398a5 !important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5) !important;
  }

  &[data-active],
  &.active {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.15) 10%,
      rgba(0, 0, 0, 0.04) 24%,
      rgba(0, 0, 0, 0.04) 33%,
      rgba(0, 0, 0, 0.07) 34%,
      rgba(0, 0, 0, 0.04) 75%
    ) !important;
    border: solid 1px #4a4c53 !important;
    box-shadow: inset 1px 0 rgba(128, 128, 128, 0.5), inset 2px 0 rgba(128, 128, 128, 0.2) !important;
    span {
      margin: 0 !important;
    }
  }

  &::after {
    display: none !important;
  }

  span {
    margin: 0;
  }
}

.menu-button {
  &:hover, &.active {
    margin: 0 -1px;
  }
}

.contextMenuBg {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: var(--menu-padding) !important;
  background: var(--surface);
  color: initial;
  box-shadow: #979797 -1px -1px inset, #979797 1px 1px inset, #f5f5f5 -3px -3px inset, #f5f5f5 3px 3px inset;

  body[data-cm-shadow] &.contextMenuBg {
    box-shadow: #979797 -1px -1px inset, #979797 1px 1px inset, #f5f5f5 -3px -3px inset, #f5f5f5 3px 3px inset, 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
  }

  hr {
    border-top-color: #ccc;
    border-bottom-color: #fff;
    margin-left: 29px;
    width: calc(100% - 27px);
  }
}

.contextMenu::before {
  content: "";
  pointer-events: none;
  position: absolute;
  left: calc(var(--item-offset-left) - 3px);
  width: 2px;
  height: 100%;
  box-shadow: inset 1px 0 rgba(0, 0, 0, 0.15), inset -1px 0 #fff;
}

.contextMenuItem {
  position: relative;
  width: calc(100% + 2px);
  height: 24px !important;
  padding: 2px 10px 4px 12px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;

  &[data-active] {
    background-color: unset !important;
    background: var(--item-hover-background);
    border-color: #b8d6fb;
    box-shadow: none !important;
    color: initial !important;
  }

  &.disabled {
    color: #6d6d6d !important;
    text-shadow: none !important;
    &[data-active] {
      background: var(--item-hover-background-disabled);
      border-color: #d4d3d3;
    }
  }

  p {
    padding-top: 0 !important;
    padding-left: 20px !important;
    &::before {
      display: none;
    }
  }

  .submenuMark {
    transform: translateY(calc(-50% - 2px));
  }

  &::after {
    all: unset; /* unset the standalone checkbox/radio styles */
    background: var(--item-hover-background);
    box-shadow: 0 0 0 1px #b3d3f9;
    border-radius: inherit;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
  }
  &::before {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    z-index: 2;
  }

  &.activeStyle,
  &.checkedItem {
    &::after {
      content: "";
    }
  }
  &.closeIcon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    background-image: url('icon/cm-close.png');
    width: 7px;
    height: 6px;
  }
  &.activeStyle::before {
    content: "";
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: radial-gradient(circle at 75% 25%, #d5d4ea, #333583);
    border: 1px solid #1a1490;
    box-shadow: none;
    border-radius: 50%;
    box-sizing: border-box;
    height: 8px;
    width: 8px;
  }
  &.checkedItem::before {
    content: "\2714";
    color: rgb(12, 18, 161);
    font-size: 10pt;
    left: 6px;
    top: 50%;
    transform: translateY(-52%);
    display: block;
    font-weight: 700;
    position: absolute;
  }
}

body:not([data-no-underline]) .contextMenuItem u {
  border-bottom-color: black !important;
}

.menu-popup {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: var(--menu-padding) !important;
  background: var(--surface);
  color: initial;
  border: none !important;
  box-shadow: #979797 -1px -1px inset, #979797 1px 1px inset, #f5f5f5 -3px -3px inset, #f5f5f5 3px 3px inset !important;

  body[data-cm-shadow] &.menu-popup {
    box-shadow: #979797 -1px -1px inset, #979797 1px 1px inset, #f5f5f5 -3px -3px inset, #f5f5f5 3px 3px inset, 5px 5px 4px -4px rgba(0, 0, 0, 0.75) !important;
  }

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    left: var(--item-offset-left);
    width: 2px;
    height: calc(100% - 6px);
    box-shadow: inset 1px 0 rgba(0, 0, 0, 0.15), inset -1px 0 #fff;
    z-index: -1;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  hr {
    border-top-color: #ccc;
    border-bottom-color: #fff;
    margin-left: 28px;
    width: calc(100% - 27px);
  }
}

.menu-item {
  height: 24px;

  td {
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
  }

  .menu-item-checkbox-area {
    min-width: 28px;
    border-left: solid 1px transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .menu-item-submenu-area {
    border-right: solid 1px transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &.highlight {
    background: var(--item-hover-background);
    box-shadow: none !important;
    color: initial !important;

    td {
      border-top-color: #b8d6fb;
      border-bottom-color: #b8d6fb;
    }
    .menu-item-checkbox-area {
      border-left-color: #b8d6fb;
    }
    .menu-item-submenu-area {
      border-right-color: #b8d6fb;
    }
  }

  &[aria-disabled] {
    color: #6d6d6d !important;
    &.highlight {
      background: var(--item-hover-background-disabled);
      td {
        border-top-color: #d4d3d3;
        border-bottom-color: #d4d3d3;
      }
      .menu-item-checkbox-area {
        border-left-color: #d4d3d3;
      }
      .menu-item-submenu-area {
        border-right-color: #d4d3d3;
      }
    }
  }

  &[aria-checked="true"] .menu-item-checkbox-area {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      background: var(--item-hover-background);
      box-shadow: 0 0 0 1px #b3d3f9;
      border-radius: 3px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      content: "\2714";
      color: #0c12a1;
      background-color: transparent;
      display: block;
      font-size: 10pt;
      font-weight: 700;
      position: absolute;
      top: 2px;
      left: 3px;
      -webkit-mask: none;
      mask: none;
    }
  }
}