@import '../../css/marlett.css';

body {
    background-color: var(--button-face);
    padding: 2px;
    line-height: 16px;
}

p {
    font-family: "Pixelated MS Sans Serif";
    margin-top: 2px;
    margin-bottom: 2px;
}

#preview {
    height: 200px;
    max-width: 500px;
    background-color: var(--background);
    margin: 0 auto;
}

#msgbox {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#conf {
    padding-top: 15px;
    width: 260px;
    margin: 0 auto;
}

#selector {
    width: 200px;
    margin-right: 5px;
}

#schemeSelector {
    width: 200px;
}

#notice {
    font-family: "Pixelated MS Sans Serif";
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.field-row {
    margin-top: 5px;
}

.title-bar-controls button:before {
    font-family: "marlett-icons";
    content: "\e904";
    position: relative;
    top: 0.2px;
    left: -0.1px;
}