/* Windows Standard */
:root {
    --active-border: #D4D0C8;
    --active-title: #0A246A;
    --app-workspace: #808080;
    --background: #3A6EA5;
    --button-alternate-face: #B5B5B5;
    --button-dk-shadow: #404040;
    --button-face: #D4D0C8;
    --button-hilight: #FFFFFF;
    --button-light: #D4D0C8;
    --button-shadow: #808080;
    --button-text: #000000;
    --gradient-active-title: #A6CAF0;
    --gradient-inactive-title: #C0C0C0;
    --gray-text: #808080;
    --hilight: #0A246A;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #000080;
    --inactive-border: #D4D0C8;
    --inactive-title: #808080;
    --inactive-title-text: #D4D0C8;
    --info-text: #000000;
    --info-window: #FFFFE1;
    --menu: #D4D0C8;
    --menu-bar: #D4D0C8;
    --menu-hilight: #0A246A;
    --menu-text: #000000;
    --scrollbar: #D4D0C8;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: none;
    --menu-animation: fade;
    --menu-shadow: false;
    --scrollbar-size: 16px;
    --menu-height: 18px;
    --palette-title-height: 15px;
    --ui-font: Tahoma, Arial, var(--cjk-fontlink);
    --caption-font: bold 11px/1.4 var(--ui-font);
    --menu-font: 8pt/1.1 var(--ui-font);
    --message-font: 8pt var(--ui-font);
    --status-font: 8pt var(--ui-font);
    --sm-caption-font: bold 8pt var(--ui-font);
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: -2px;
}