/* Blue */
/* Source: https://www.deviantart.com/tpenguinltg/art/Blue-525167751 */
/* License: https://creativecommons.org/licenses/by-sa/3.0/ */
:root {
	--active-title: #000080;
	--background: #3A6EA5;
	--hilight: #3399FF;
	--hilight-text: #FFFFFF;
	--title-text: #FFFFFF;
	--window: #FFFFFF;
	--window-text: #000000;
	--scrollbar: #D3E4F8;
	--inactive-title: #3183DD;
	--menu: #A6CAF0;
	--window-frame: #000000;
	--menu-text: #000000;
	--active-border: #A6CAF0;
	--inactive-border: #A6CAF0;
	--app-workspace: #3183DD;
	--button-face: #A6CAF0;
	--button-shadow: #3183DD;
	--gray-text: #3183DD;
	--button-text: #000000;
	--inactiveTitle-text: #000080;
	--button-hilight: #D3E4F8;
	--buttonDk-shadow: #000000;
	--button-light: #A6CAF0;
	--info-text: #000000;
	--info-window: #E1E1FF;
	--gradientActive-title: #1084D0;
	--gradientInactive-title: #3183DD;
	--buttonAlternate-face: #C0C0C0;
	--hotTracking-color: #000080;
	--menu-hilight: #000080;
	--menu-bar: #A6CAF0;
    --flat-menus: none;
    --menu-animation: slide;
    --menu-shadow: false;
    --scrollbar-size: 16px;
    --menu-height: 18px;
    --palette-title-height: 15px;
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: -2px;
}