/* Eggplant */
:root {
    --active-border: #90B0A8;
    --active-title: #588078;
    --app-workspace: #808080;
    --background: #400040;
    --button-alternate-face: #C0C0C0;
    --button-dk-shadow: #000000;
    --button-face: #90B0A8;
    --button-hilight: #C8D8D8;
    --button-light: #90B0A8;
    --button-shadow: #588078;
    --button-text: #000000;
    --gradient-active-title: #834B83;
    --gradient-inactive-title: #CBBDD2;
    --gray-text: #588078;
    --hilight: #588078;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #588078;
    --inactive-border: #90B0A8;
    --inactive-title: #90B0A8;
    --inactive-title-text: #588078;
    --info-text: #800080;
    --info-window: #FFFFFF;
    --menu: #90B0A8;
    --menu-bar: #90B0A8;
    --menu-hilight: #588078;
    --menu-text: #000000;
    --scrollbar: #90B0A8;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: none;
    --menu-animation: slide;
    --menu-shadow: false;
    --scrollbar-size: 16px;
    --menu-height: 18px;
    --palette-title-height: 17px;
    --caption-font: bold 11pt/0.9 "Times New Roman", var(--ui-font);
    --menu-font: 10pt/0.9 "Times New Roman", var(--ui-font);
    --message-font: 10pt "Times New Roman", var(--ui-font);
    --status-font: 10pt "Times New Roman", var(--ui-font);
    --sm-caption-font: bold 10pt/0.9 "Times New Roman", var(--ui-font);
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: -1px;
}