/* Marine */
:root {
    --active-border: #88C0B8;
    --active-title: #000080;
    --app-workspace: #4B8D84;
    --background: #2C4E47;
    --button-alternate-face: #C0C0C0;
    --button-dk-shadow: #000000;
    --button-face: #88C0B8;
    --button-hilight: #C8E0D8;
    --button-light: #88C0B8;
    --button-shadow: #489088;
    --button-text: #000000;
    --gradient-active-title: #18B4C0;
    --gradient-inactive-title: #78CCD8;
    --gray-text: #489088;
    --hilight: #000080;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #000080;
    --inactive-border: #88C0B8;
    --inactive-title: #489088;
    --inactive-title-text: #C0C0C0;
    --info-text: #000000;
    --info-window: #C8E0D8;
    --menu: #88C0B8;
    --menu-bar: #88C0B8;
    --menu-hilight: #000080;
    --menu-text: #000000;
    --scrollbar: #C8E0D8;
    --title-text: #FFFFFF;
    --window: #C8E0D8;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: none;
    --menu-animation: slide;
    --menu-shadow: false;
    --scrollbar-size: 13px;
    --menu-height: 18px;
    --palette-title-height: 13px;
    --sm-caption-font: 7pt/1.5 var(--ui-font);
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: -2px;
}