/* Plum */
:root {
    --active-border: #A89890;
    --active-title: #484060;
    --app-workspace: #74635A;
    --background: #402840;
    --button-alternate-face: #C0C0C0;
    --button-dk-shadow: #000000;
    --button-face: #A89890;
    --button-hilight: #D8D0C8;
    --button-light: #A89890;
    --button-shadow: #786058;
    --button-text: #000000;
    --gradient-active-title: #A084B8;
    --gradient-inactive-title: #A89878;
    --gray-text: #786058;
    --hilight: #008080;
    --hilight-text: #D8D0C8;
    --hot-tracking-color: #484060;
    --inactive-border: #A89890;
    --inactive-title: #786058;
    --inactive-title-text: #A89890;
    --info-text: #300058;
    --info-window: #D5CCC8;
    --menu: #A89890;
    --menu-bar: #A89890;
    --menu-hilight: #008080;
    --menu-text: #000000;
    --scrollbar: #D8D0C8;
    --title-text: #FFFFFF;
    --window: #D8D0C8;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: none;
    --menu-animation: slide;
    --menu-shadow: false;
    --scrollbar-size: 13px;
    --menu-height: 18px;
    --palette-title-height: 15px;
    --sm-caption-font: 11px var(--ui-font);
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: -2px;
}