/* Plus! Inside your Computer */
:root {
    --active-border: #A8C8A8;
    --active-title: #E00000;
    --app-workspace: #508F6C;
    --background: #000000;
    --button-alternate-face: #B5B5B5;
    --button-dk-shadow: #000000;
    --button-face: #A8C8A8;
    --button-hilight: #D8E0D8;
    --button-light: #A8C8A8;
    --button-shadow: #609860;
    --button-text: #000000;
    --gradient-active-title: #E00000;
    --gradient-inactive-title: #60A880;
    --gray-text: #609860;
    --hilight: #F8FFA0;
    --hilight-text: #000000;
    --hot-tracking-color: #000080;
    --inactive-border: #A8C8A8;
    --inactive-title: #60A880;
    --inactive-title-text: #D8E0D8;
    --info-text: #004848;
    --info-window: #FFEFD2;
    --menu: #A8C8A8;
    --menu-bar: #D4D0C8;
    --menu-hilight: #0A246A;
    --menu-text: #000000;
    --scrollbar: #D8E0D8;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: none;
    --menu-animation: slide;
    --menu-shadow: false;
    --scrollbar-size: 16px;
    --menu-height: 19px;
    --palette-title-height: 17px;
    --caption-font: bold 11pt/1 Arial, var(--cjk-fontlink);
    --menu-font: 10pt/0.9 Arial, var(--cjk-fontlink);
    --message-font: 11px Arial, var(--cjk-fontlink);
    --status-font: bold 9pt Arial, var(--cjk-fontlink);
    --sm-caption-font: 10pt/1 Arial, var(--cjk-fontlink);
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: 0px;
}