/* Plus! Windows 95 */
:root {
    --active-border: #B4C3DC;
    --active-title: #008080;
    --app-workspace: #C0C0C0;
    --background: #C0C0C0;
    --button-alternate-face: #B5B5B5;
    --button-dk-shadow: #000000;
    --button-face: #B4C3DC;
    --button-hilight: #DAE1ED;
    --button-light: #B4C3DC;
    --button-shadow: #587AB1;
    --button-text: #000000;
    --gradient-active-title: #008080;
    --gradient-inactive-title: #587AB1;
    --gray-text: #587AB1;
    --hilight: #008080;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #000080;
    --inactive-border: #B4C3DC;
    --inactive-title: #587AB1;
    --inactive-title-text: #000080;
    --info-text: #000000;
    --info-window: #FFFFE1;
    --menu: #B4C3DC;
    --menu-bar: #D4D0C8;
    --menu-hilight: #0A246A;
    --menu-text: #000000;
    --scrollbar: #DAE1ED;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: none;
    --menu-animation: slide;
    --menu-shadow: false;
    --scrollbar-size: 13px;
    --menu-height: 20px;
    --palette-title-height: 17px;
    --caption-font: bold italic 12pt/1 "News Gothic MT", "Yu Gothic", Arial, var(--cjk-fontlink);
    --menu-font: 9pt/1 "News Gothic MT", "Yu Gothic", Arial, var(--cjk-fontlink);
    --status-font: 11px "News Gothic MT", "Yu Gothic", Arial, var(--cjk-fontlink);
    --sm-caption-font: 7pt "News Gothic MT", "Yu Gothic", Arial, var(--cjk-fontlink);
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: 2px;
}