/* Plus! Nature */
:root {
    --active-border: #D8C0A0;
    --active-title: #004848;
    --app-workspace: #9B7753;
    --background: #000000;
    --button-alternate-face: #B5B5B5;
    --button-dk-shadow: #000000;
    --button-face: #D8C0A0;
    --button-hilight: #F0E0D0;
    --button-light: #D8C0A0;
    --button-shadow: #B08848;
    --button-text: #000000;
    --gradient-active-title: #004848;
    --gradient-inactive-title: #685038;
    --gray-text: #B08848;
    --hilight: #B09070;
    --hilight-text: #000000;
    --hot-tracking-color: #000080;
    --inactive-border: #D8C0A0;
    --inactive-title: #685038;
    --inactive-title-text: #000000;
    --info-text: #004848;
    --info-window: #FFFFFF;
    --menu: #D8C0A0;
    --menu-bar: #D4D0C8;
    --menu-highlight: #0A246A;
    --menu-text: #000000;
    --scrollbar: #F0E0D0;
    --title-text: #F0E8D8;
    --window: #F0E8D8;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: none;
    --menu-animation: slide;
    --menu-shadow: false;
    --scrollbar-size: 13px;
    --menu-height: 18px;
    --palette-title-height: 15px;
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: -2px;
}