/* Plus! 98 Geometry */
:root {
    --active-border: #C0C0C0;
    --active-title: #000068;
    --app-workspace: #CDA252;
    --background: #00005E;
    --button-alternate-face: #C0C0C0;
    --button-dk-shadow: #000000;
    --button-face: #C0C0C0;
    --button-hilight: #FFFFFF;
    --button-light: #E0E0E0;
    --button-shadow: #808080;
    --button-text: #000000;
    --gradient-active-title: #0000D0;
    --gradient-inactive-title: #808080;
    --gray-text: #808080;
    --hilight: #D0B818;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #000080;
    --inactive-border: #C0C0C0;
    --inactive-title: #000000;
    --inactive-title-text: #FFFFFF;
    --info-text: #000000;
    --info-window: #FFFFE1;
    --menu: #C0C0C0;
    --menu-bar: #C0C0C0;
    --menu-highlight: #000080;
    --menu-text: #000000;
    --scrollbar: #C0C0C0;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: none;
    --menu-animation: slide;
    --menu-shadow: false;
    --scrollbar-size: 16px;
    --menu-height: 18px;
    --palette-title-height: 15px;
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: -2px;
}