/* Red Wine */
:root {
	--active-title: #40000C;
	--background: #930900;
	--hilight: #C00000;
	--hilight-text: #FFFFFF;
	--title-text: #FFFFFF;
	--window: #400000;
	--window-text: #FFFFFF;
	--scrollbar: #C04038;
	--inactive-title: #000000;
	--menu: #660C08;
	--window-frame: #000000;
	--menu-text: #FFFFFF;
	--active-border: #660C08;
	--inactive-border: #660C08;
	--app-workspace: #430905;
	--button-face: #660C08;
	--button-shadow: #430905;
	--gray-text: #C04040;
	--button-text: #FFFFFF;
	--inactiveTitle-text: #EF2C21;
	--button-hilight: #C04038;
	--buttonDk-shadow: #402020;
	--button-light: #660C08;
	--info-text: #FFD9AD;
	--info-window: #400000;
	--gradientActive-title: #D90B00;
	--gradientInactive-title: #860402;
	--buttonAlternate-face: #C0C0C0;
	--hotTracking-color: #FF0000;
	--menu-hilight: #C00000;
	--menu-bar: #660C08;
}
