/* Rose */
:root {
    --active-border: #CFAFB7;
    --active-title: #9F6070;
    --app-workspace: #9F6070;
    --background: #808080;
    --button-alternate-face: #C0C0C0;
    --button-dk-shadow: #000000;
    --button-face: #CFAFB7;
    --button-hilight: #E7D8DC;
    --button-light: #CFAFB7;
    --button-shadow: #9F6070;
    --button-text: #000000;
    --gradient-active-title: #D8CCD0;
    --gradient-inactive-title: #D0D4D0;
    --gray-text: #9F6070;
    --hilight: #9F6070;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #9F6070;
    --inactive-border: #CFAFB7;
    --inactive-title: #A0A0A4;
    --inactive-title-text: #7D7D7D;
    --info-text: #000000;
    --info-window: #FFFFFF;
    --menu: #CFAFB7;
    --menu-bar: #CFAFB7;
    --menu-highlight: #9F6070;
    --menu-text: #000000;
    --scrollbar: #CFAFB7;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
}