/* VGUI */
/* From https://winclassic.net/post/12335/thread */
/* Made by Jevil7452 */
/* Inspired by the old Steam VGUI (a.k.a. Half-Life 1 Steam UI) */
:root {
    --active-border: #4c5844;
    --active-title: #4c5844;
    --app-workspace: #3e4637;
    --background: #000000;
    --button-alternate-face: #b5b5b5;
    --button-dk-shadow: #404040;
    --button-face: #4c5844;
    --button-hilight: #a5b39b;
    --button-light: #4c5844;
    --button-shadow: #32392d;
    --button-text: #ffffff;
    --gradient-active-title: #4c5844;
    --gradient-inactive-title: #3e4637;
    --gray-text: #32392d;
    --hilight: #282e20;
    --hilight-text: #ffffff;
    --hot-tracking-color: #a5b39b;
    --inactive-border: #4c5844;
    --inactive-title: #32392d;
    --inactive-title-text: #d4d0c8;
    --info-text: #ffffff;
    --info-window: #3e4637;
    --menu: #4c5844;
    --menu-bar: #4c5844;
    --menu-hilight: #282e20;
    --menu-text: #ffffff;
    --scrollbar: #a5b39b;
    --title-text: #ffffff;
    --window: #3e4637;
    --window-frame: #000000;
    --window-text: #ffffff;
    --scrollbar-size: 16px;
    --menu-height: 18px;
    --palette-title-height: 15px;
    --ui-font: Tahoma, Arial, var(--cjk-fontlink);
    --caption-font: bold 11px/1.4 var(--ui-font);
    --menu-font: 11px/1 var(--ui-font);
    --message-font: 11px var(--ui-font);
    --status-font: 11px var(--ui-font);
    --sm-caption-font: bold 11px/1 var(--ui-font);
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: -2px;
}