/* Vista-esque-Midnight-Green */
/* Source: https://www.deviantart.com/tpenguinltg/art/Vista-esque-Midnight-Green-563591910 */
/* License: https://creativecommons.org/licenses/by-sa/3.0/ */
:root {
	--active-title: #125B1E;
	--background: #0F2D1E;
	--hilight: #20802C;
	--hilight-text: #FFFFFF;
	--title-text: #FFFFFF;
	--window: #000000;
	--window-text: #FFFFFF;
	--scrollbar: #808080;
	--inactive-title: #125B1E;
	--menu: #202020;
	--window-frame: #000000;
	--menu-text: #FFFFFF;
	--active-border: #202020;
	--inactive-border: #202020;
	--app-workspace: #151515;
	--button-face: #202020;
	--button-shadow: #151515;
	--gray-text: #202020;
	--button-text: #FFFFFF;
	--inactive-title-text: #C0C0C0;
	--button-hilight: #808080;
	--button-dk-shadow: #000000;
	--button-light: #202020;
	--info-text: #FFFFFF;
	--info-window: #001E00;
	--gradient-active-title: #64A83C;
	--gradient-inactive-title: #125B1E;
	--button-alternate-face: #C0C0C0;
	--hot-tracking-color: #40B440;
	--menu-hilight: #20802C;
	--menu-bar: #202020;
}
