/* Vista-esque-Midnight-Green */
/* Source: https://www.deviantart.com/tpenguinltg/art/Vista-esque-Midnight-Green-563591910 */
/* License: https://creativecommons.org/licenses/by-sa/3.0/ */
:root {
	--active-title: rgb(18, 91, 30);
	--background: rgb(15, 45, 30);
	--hilight: rgb(32, 128, 44);
	--hilight-text: rgb(255, 255, 255);
	--title-text: rgb(255, 255, 255);
	--window: rgb(0, 0, 0);
	--window-text: rgb(255, 255, 255);
	--scrollbar: rgb(128, 128, 128);
	--inactive-title: rgb(18, 91, 30);
	--menu: rgb(32, 32, 32);
	--window-frame: rgb(0, 0, 0);
	--menu-text: rgb(255, 255, 255);
	--active-border: rgb(32, 32, 32);
	--inactive-border: rgb(32, 32, 32);
	--app-workspace: rgb(21, 21, 21);
	--button-face: rgb(32, 32, 32);
	--button-shadow: rgb(21, 21, 21);
	--gray-text: rgb(32, 32, 32);
	--button-text: rgb(255, 255, 255);
	--inactive-title-text: rgb(192, 192, 192);
	--button-hilight: rgb(128, 128, 128);
	--button-dk-shadow: rgb(0, 0, 0);
	--button-light: rgb(32, 32, 32);
	--info-text: rgb(255, 255, 255);
	--info-window: rgb(0, 30, 0);
	--gradient-active-title: rgb(100, 168, 60);
	--gradient-inactive-title: rgb(18, 91, 30);
	--button-alternate-face: rgb(192, 192, 192);
	--hot-tracking-color: rgb(64, 180, 64);
	--menu-hilight: rgb(32, 128, 44);
	--menu-bar: rgb(32, 32, 32);
}
