/* Windows 11 High Contrast - Night sky */
:root {
    --active-border: #868CFF;
    --active-title: #868CFF;
    --app-workspace: #000000;
    --background: #000000;
    --button-alternate-face: #C0C0C0;
    --button-dk-shadow: #FFFFFF;
    --button-face: #000000;
    --button-hilight: #C0C0C0;
    --button-light: #FFFFFF;
    --button-shadow: #808080;
    --button-text: #FFEE32;
    --gradient-active-title: #868CFF;
    --gradient-inactive-title: #A6A6A6;
    --gray-text: #A6A6A6;
    --hilight: #D6B4FD;
    --hilight-text: #2B2B2B;
    --hot-tracking-color: #8080FF;
    --inactive-border: #A6A6A6;
    --inactive-title: #A6A6A6;
    --inactive-title-text: #000000;
    --info-text: #FFFFFF;
    --info-window: #000000;
    --menu: #000000;
    --menu-bar: #000000;
    --menu-hilight: #D6B4FD;
    --menu-text: #FFFFFF;
    --scrollbar: #000000;
    --title-text: #000000;
    --window: #000000;
    --window-frame: #FFFFFF;
    --window-text: #FFFFFF;
    --flat-menus: mb;
    --menu-animation: fade;
    --menu-shadow: true;
    --scrollbar-size: 17px;
    --menu-height: 19px;
    --palette-title-height: 22px;
    --ui-font: "Segoe UI";
    --caption-font: 9pt/1.2 "Segoe UI";
    --menu-font: 9pt/0.9 "Segoe UI";
    --message-font: 9pt "Segoe UI";
    --status-font: 9pt "Segoe UI";
    --sm-caption-font: 9pt/0.9 "Segoe UI";
}
.window {
    --extra-border-size: 5px;
    --extra-title-height: 2px;
}