/* Win 3 - The Blues */
:root {
    --active-border: #C0C0C0;
    --active-title: #000080;
    --app-workspace: #C0C0C0;
    --background: #004080;
    --button-alternate-face: #B5B5B5;
    --button-dk-shadow: #000000;
    --button-face: #C0C0C0;
    --button-hilight: #FFFFFF;
    --button-light: #000000;
    --button-shadow: #808080;
    --button-text: #000000;
    --gradient-active-title: #000080;
    --gradient-inactive-title: #C0C0C0;
    --gray-text: #C0C0C0;
    --hilight: #000080;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #0000FF;
    --inactive-border: #C0C0C0;
    --inactive-title: #C0C0C0;
    --inactive-title-text: #000000;
    --info-text: #000000;
    --info-window: #FFFFFF;
    --menu: #FFFFFF;
    --menu-bar: #FFFFFF;
    --menu-highlight: #000080;
    --menu-text: #000000;
    --scrollbar: #C0C0C0;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
}