/* Win 3 - Hotdog Stand */
:root {
    --active-border: #FF0000;
    --active-title: #000000;
    --app-workspace: #FFFF00;
    --background: #FFFF00;
    --button-alternate-face: #B5B5B5;
    --button-dk-shadow: #000000;
    --button-face: #C0C0C0;
    --button-hilight: #FFFFFF;
    --button-light: #000000;
    --button-shadow: #808080;
    --button-text: #000000;
    --gradient-active-title: #000000;
    --gradient-inactive-title: #FF0000;
    --gray-text: #808080;
    --hilight: #000000;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #0000FF;
    --inactive-border: #FF0000;
    --inactive-title: #FF0000;
    --inactive-title-text: #FFFFFF;
    --info-text: #FFFFFF;
    --info-window: #FF0000;
    --menu: #FFFFFF;
    --menu-bar: #FFFFFF;
    --menu-highlight: #000000;
    --menu-text: #000000;
    --scrollbar: #C0C0C0;
    --title-text: #FFFFFF;
    --window: #FF0000;
    --window-frame: #000000;
    --window-text: #FFFFFF;
    --flat-menus: mb;
    --menu-animation: none;
    --menu-shadow: false;
    --scrollbar-size: 17px;
    --menu-height: 19px;
    --palette-title-height: 14px;
    --ui-font: "Fixedsys Excelsior", Arial, var(--cjk-fontlink);
    --caption-font: bold 10pt var(--ui-font);
    --menu-font: bold 10pt var(--ui-font);
    --message-font: bold 10pt var(--ui-font);
    --status-font: bold 10pt var(--ui-font);
    --sm-caption-font: bold 10pt var(--ui-font);
}
.window {
    --extra-border-size: 2px;
    --extra-title-height: 0px;
}