/* Windose */
/* CSS Theming Demo inspired by Needy Girl Overdose */

/* Wanna apply custom CSS themes? */
/* Enable the debug mode by going to the About menu, clicking the logo, and then clicking Apply. */
/* And then you can import one in the Appearance properties menu. */

:root {
    --active-border: #90F4E3;
    --active-title: #F0D0F1;
    --app-workspace: #FDF1FD;
    --background: #F9E2FD;
    --button-alternate-face: #815CDC;
    --button-dk-shadow: #815CDC;
    --button-face: #FCF1FF;
    --button-hilight: #FDF1FD;
    --button-light: #FDF1FD;
    --button-shadow: #815CDC;
    --button-text: #815CDC;
    --gradient-active-title: #F0D0F1;
    --gradient-inactive-title: #E2E2E1;
    --gray-text: #AAA6C3;
    --hilight: #CCECFC;
    --hilight-text: #4D23CD;
    --hot-tracking-color: #815CDC;
    --inactive-border: #E2E2E1;
    --inactive-title: #E2E2E1;
    --inactive-title-text: #4D22CD;
    --info-text: #815CDC;
    --info-window: #FCF1FF;
    --menu: #FCF1FF;
    --menu-bar: #FCF1FF;
    --menu-highlight: #CCECFC;
    --menu-text: #815CDC;
    --scrollbar: #FCF1FF;
    --title-text: #4D22CD;
    --window: #FFFFFF;
    --window-frame: #815CDC;
    --window-text: #815CDC;
    --close-button: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48bGluZSB4MT0iMCIgeTE9IjAiIHgyPSIxMCIgeTI9IjEwIiB2ZWN0b3ItZWZmZWN0PSJub24tc2NhbGluZy1zdHJva2UiIHN0cm9rZT0iIzREMjNDRCIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIiAvPjxsaW5lIHgxPSIxMCIgeTE9IjAiIHgyPSIwIiB5Mj0iMTAiIHZlY3Rvci1lZmZlY3Q9Im5vbi1zY2FsaW5nLXN0cm9rZSIgc3Ryb2tlPSIjNEQyM0NEIiBzaGFwZS1yZW5kZXJpbmc9ImNyaXNwRWRnZXMiIC8+PC9zdmc+");
    --maximize-button: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48cmVjdCB4PSIyIiB5PSIyIiB3aWR0aD0iNyIgaGVpZ2h0PSI3IiBzdHJva2U9IiM0RDIzQ0QiIGZpbGw9InRyYW5zcGFyZW50IiBzaGFwZS1yZW5kZXJpbmc9ImNyaXNwRWRnZXMiIC8+PC9zdmc+");
    --minimize-button: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48bGluZSB4MT0iMiIgeTE9IjkiIHgyPSI2IiB5Mj0iOSIgdmVjdG9yLWVmZmVjdD0ibm9uLXNjYWxpbmctc3Ryb2tlIiBzdHJva2U9IiM0RDIzQ0QiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyIgLz48L3N2Zz4=");
    --help-button: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAA0SURBVChTYyAWMEJpMPBVPvsfygSDzXeNUeTBAF0RCGATwwqIUki2IiYoTWNAtG8xAQMDAA0+EWzSc838AAAAAElFTkSuQmCC")
}

.windowContainer {
    --extra-title-height: -1px !important;
    --extra-border-size: 1px !important;
    --extra-border-bottom: 5px !important;
}

.windowContainer[data-style="wnd"] {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset;
    background-color: #90F3E1;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAGCAYAAAA7d0VqAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnMAABJzAYwiuQcAAABISURBVChTY/RVPvufgQpg811jks0Ca5hbKwXlkgeSm5/BLQfRIDGYQ/DxmUCMgQJUtxzkI5gvQQAfn6rBDuUSDaiW4EgHDAwAlEkyJY3231wAAAAASUVORK5CYII=");
    background-position: 3px bottom;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.windowContainer[data-style="wnd"] .windowElement {
    background-color: #FCF1FF;
}

#madconf #activeWindow,
#msgbox {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset, #90F3E1 -3px -3px inset, #90F3E1 3px 3px inset;
}

.windowContainer[data-style="wnd"][data-inactive] {
    background-color: #E2E2E1;
}

#madconf #inactiveWindow,
#msgbox[data-inactive] {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset, #E2E2E1 -3px -3px inset, #E2E2E1 3px 3px inset;
}

.title-bar {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset;
    border-bottom: 2px solid #90F3E1;
}

.title-bar.inactive {
    border-bottom: 2px solid #E2E2E1;
}

.windowContainer[data-style="wnd"]:not([data-unresizable]) > .title-bar {
    margin: 0 !important;
}

.title-bar-controls button {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset;
    background: transparent;
    min-width: 0 !important;
    min-height: 0 !important;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    background-image: var(--close-button) !important;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.title-bar-controls button:before {
    display: none;
}

.title-bar-controls button:active {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset;
}

.windowIcon {
    top: 4px;
    left: 4px;
    margin-left: 0;
}

.windowContainer[data-style="wnd"] .windowElement {
    border-color: #4D23CD !important;
}

.windowContainer[data-style="wnd"] .windowMenuBg {
    left: 3px;
}

.windowContainer[data-style="wnd"] .confMenuBg {
    left: 103px;
}

#madconf #activeWindow textarea {
    height: 85px;
}

/* For OS-GUI (JSPaint) */
.os-window {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset, #90F3E1 -3px -3px inset, #90F3E1 3px 3px inset !important;
    border: none !important;
}

.os-window:not(.focused) {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset, #E2E2E1 -3px -3px inset, #E2E2E1 3px 3px inset !important;
}

.window-titlebar {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset !important;
    border-bottom: 2px solid #90F3E1 !important;
}

.os-window:not(.focused) > .window-titlebar {
    border-bottom: 2px solid #E2E2E1 !important;
}

body > .window-titlebar,
.minimized-without-taskbar > .window-titlebar {
    border-bottom: none !important;
}

.window-button {
    box-shadow: #4D23CD -1px -1px inset, #4D23CD 1px 1px inset !important;
    background: transparent !important;
    min-width: 0 !important;
    min-height: 0 !important;
    width: 12px !important;
    height: 12px !important;
    border: none !important;
    background-position: 1px 1px !important;
    background-repeat: no-repeat !important;
    margin-right: 2px !important;
    image-rendering: pixelated !important;
}

.window-minimize-button {
    background-image: var(--minimize-button) !important;
}
.window-action-maximize {
    background-image: var(--maximize-button) !important;
}
.window-action-restore {
    background-image: var(--maximize-button) !important;
}
.window-help-button {
    background-image: var(--help-button) !important;
}
.window-close-button {
    background-image: var(--close-button) !important;
    margin-left: 0 !important;
    margin-right: 4px !important;
}
.window-button-icon {
    display: none !important;
}