/* Windows XP Zune */
:root {
    --active-border: #d4d0c8;
    --active-title: #343434;
    --app-workspace: #808080;
    --background: #1a1a1a;
    --button-alternate-face: #b5b5b5;
    --button-dk-shadow: #878787;
    --button-face: #e2e2e2;
    --button-hilight: #ffffff;
    --button-light: #e2e2e2;
    --button-shadow: #b4b4b4;
    --button-text: #000000;
    --gradient-active-title: #747474;
    --gradient-inactive-title: #c8c8c8;
    --gray-text: #646464;
    --hilight: #bebebe;
    --hilight-text: #000000;
    --hot-tracking-color: #000080;
    --inactive-border: #d4d0c8;
    --inactive-title: #747474;
    --inactive-title-text: #f4f4f4;
    --info-text: #000000;
    --info-window: #ffffe1;
    --menu: #ffffff;
    --menu-bar: #dcdcdc;
    --menu-hilight: #bebebe;
    --menu-text: #000000;
    --scrollbar: #d4d0c8;
    --title-text: #ffffff;
    --window: #ffffff;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: mbcm;
    --menu-animation: fade;
    --menu-shadow: true;
    --scrollbar-size: 17px;
    --menu-height: 19px;
    --palette-title-height: 17px;
    --ui-font: Tahoma, Arial, var(--cjk-fontlink);
    --caption-font: bold 10pt/1 "Trebuchet MS", var(--ui-font);
    --menu-font: 11px/1 var(--ui-font);
    --message-font: 11px var(--ui-font);
    --status-font: 11px var(--ui-font);
    --sm-caption-font: bold 11px/1 var(--ui-font);
}
.window {
    --extra-border-size: 1px;
    --extra-title-height: 5px;
}