/* Minimal Windows Classic stylesheet for websites */
/* Does not alter the layout of the website */
/* Don't use box-shadow in controls as many webpages don't expect it */
/* Also omit 'input' as 'input[type="*"]' has more specificity than '.class' */

:root {
    /* Borders */
    --border-width: 1px;
    --border-raised-outer: inset -1px -1px var(--button-dk-shadow),
        inset 1px 1px var(--button-hilight);
    --border-raised-inner: inset -2px -2px var(--button-shadow),
        inset 2px 2px var(--button-light);
    --border-sunken-outer: inset -1px -1px var(--button-hilight),
        inset 1px 1px var(--button-dk-shadow);
    --border-sunken-inner: inset -2px -2px var(--button-light),
        inset 2px 2px var(--button-shadow);

    /* Window borders flip button-light and button-hilight */
    --border-window-outer: inset -1px -1px var(--button-dk-shadow),
        inset 1px 1px var(--button-light);
    --border-window-inner: inset -2px -2px var(--button-shadow),
        inset 2px 2px var(--button-hilight);

    /* Field borders (checkbox, input, etc) flip button-dk-shadow and button-shadow */
    --border-field: inset -1px -1px var(--button-hilight),
        inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-light),
        inset 2px 2px var(--button-dk-shadow);

    /* Fonts */
    --cjk-fontlink: "MS UI Gothic", Gulim, SimSun, PMingLiU;

    /* SVGs */
    --scroll-up: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8%206H7V7H6V8H5V9H4V10H11V9H10V8H9V7H8V6Z%22%20fill%3D%22%20%23000000%22%2F%3E%3C%2Fsvg%3E");
    --scroll-down: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8%206H4V7H5V8H6V9H7V10H8V9H9V8H10V7H11V6Z%22%20fill%3D%22%20%23000000%22%2F%3E%3C%2Fsvg%3E");
    --scroll-left: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6%204H8V5H7V6H6V7H5V8H6V9H7V10H8V11H9V4Z%22%20fill%3D%22%20%23000000%22%2F%3E%3C%2Fsvg%3E");
    --scroll-right: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10%204H6V11H7V10H8V9H9V8H10V7H9V6H8V5H7V4Z%22%20fill%3D%22%20%23000000%22%2F%3E%3C%2Fsvg%3E");
    --scroll-track: url("data:image/svg+xml,%3Csvg%20width%3D%222%22%20height%3D%222%22%20viewBox%3D%220%200%202%202%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M1%200H0V1H1V2H2V1H1V0Z%22%20fill%3D%22%20%23c0c0c0%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M2%200H1V1H0V2H1V1H2V0Z%22%20fill%3D%22%20%23ffffff%22%2F%3E%3C%2Fsvg%3E");
}

body/*not-if-bgcolor*/ {
    background-color: var(--window);
}

body/*not-if-text*/ {
    color: var(--window-text);
}

a/*not-if-link*/ {
    color: var(--hot-tracking-color);
}

::selection {
    background-color: var(--hilight);
    color: var(--hilight-text);
}

button,
[type="submit"],
[type="reset"],
.ds .lsbb .lsb { /* Override for NoJS Google Search */
    color: var(--button-text);
    background: var(--button-face);
    border-radius: 0;
    border: solid 1px;
    border-top-color: var(--button-light);
    border-left-color: var(--button-light);
    border-bottom-color: var(--button-shadow);
    border-right-color: var(--button-shadow);
}

button:focus,
[type="submit"]:focus,
[type="reset"]:focus,
.ds .lsbb .lsb:focus {
    outline: 1px dotted var(--button-text);
    outline-offset: -4px;
}

button:active,
[type="submit"]:active,
[type="reset"]:active,
.ds .lsbb .lsb:active {
    border-top-color: var(--button-shadow);
    border-left-color: var(--button-shadow);
    border-bottom-color: var(--button-light);
    border-right-color: var(--button-light);
}

button::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner {
    border: 0;
}

:disabled,
:disabled + label,
[readonly],
[readonly] + label {
    color: var(--button-shadow);
}

button:disabled,
[type="submit"]:disabled,
[type="reset"]:disabled,
:disabled + label {
    text-shadow: 1px 1px 0 var(--button-hilight);
}

button, input, label, li[role=tab], select, table, textarea {
    -webkit-font-smoothing: none;
    font-family: var(--ui-font);
}

[type="text"],
[type="password"],
[type="email"],
[type="tel"],
[type="number"],
[type="search"],
textarea {
  padding: 3px 4px;
  color: var(--window-text);
  background-color: var(--window);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: solid 1px;
  border-top-color: var(--button-shadow);
  border-left-color: var(--button-shadow);
  border-bottom-color: var(--button-light);
  border-right-color: var(--button-light);
}

/* clears the ‘X’ from Chrome */
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration { display: none; }

[type="email"]:disabled,
[type="tel"]:disabled,
[type="password"]:disabled,
[type="text"]:disabled,
[type="number"]:disabled,
[type="search"]:disabled,
[type="email"]:read-only,
[type="tel"]:read-only,
[type="password"]:read-only,
[type="text"]:read-only,
[type="number"]:read-only,
[type="search"]:read-only,
textarea:disabled {
    background-color: var(--button-face);
}

select:focus,
[type="text"]:focus,
[type="password"]:focus,
[type="email"]:focus,
[type="tel"]:focus,
[type="number"]:focus,
[type="search"]:focus,
textarea:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: var(--scrollbar-size);
}
::-webkit-scrollbar:horizontal {
    height: var(--scrollbar-size);
}

::-webkit-scrollbar-corner {
    background: var(--button-light);
}

::-webkit-scrollbar-track {
    background-image: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--button-face);
    box-shadow: var(--border-window-outer), var(--border-window-inner);
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
    display: block;
}

::-webkit-scrollbar-button:vertical:start {
    height: var(--scrollbar-size);
    background-color: var(--button-face);
    background-image: var(--scroll-up);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: var(--border-window-outer), var(--border-window-inner);
}
::-webkit-scrollbar-button:vertical:end {
    height: var(--scrollbar-size);
    background-color: var(--button-face);
    background-image: var(--scroll-down);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: var(--border-window-outer), var(--border-window-inner);
}
::-webkit-scrollbar-button:horizontal:start {
    width: var(--scrollbar-size);
    background-color: var(--button-face);
    background-image: var(--scroll-left);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: var(--border-window-outer), var(--border-window-inner);
}
::-webkit-scrollbar-button:horizontal:end {
    width: var(--scrollbar-size);
    background-color: var(--button-face);
    background-image: var(--scroll-right);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: var(--border-window-outer), var(--border-window-inner);
}
