@import 'common.css';

#title {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
    margin-top: 26px;
    margin-left: 50px;
    margin-bottom: 15px;
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 32px;
    height: 32px;
}

p {
    margin-left: 8px;
}

#credits {
    text-align: left;
}

#creditsMain {
    margin: 0;
    height: 118px;
    margin-left: 3px;
    overflow-y: auto;
}

.buttons button {
    margin-top: 10px;
    margin-bottom: 10px;
}