@import 'common.css';

#schemePreview {
    height: 194px;
    width: calc(100% - 6px);
    background-color: var(--background);
    margin: 0 auto;
    pointer-events: none;
    box-shadow: inset -1px -1px var(--button-hilight),
        inset 1px 1px var(--button-shadow),
        inset -2px -2px var(--button-light),
        inset 2px 2px var(--button-dk-shadow);
    border: none;
    padding: 3px;
}

#conf {
    padding-top: 5px;
    display: table;
    margin: 0 auto;
}

#schemeSelectorGroup button {
    position: relative;
    top: 1px;
}

#saveAsBtn {
    margin-left: 3px;
    margin-right: 3px;
}

#schemeSelector {
    width: 200px;
}

#selector {
    width: 200px;
    margin-left: 1px;
    margin-right: 5px;
}

.colorPicker {
    min-width: auto !important;
    min-height: auto;
    width: 42px;
    height: 21px;
    position: relative;
    top: 11px;
    margin-top: -10px;
    margin-left: -1px;
}

.colorPicker-color {
    width: 20px;
    height: 11px;
    background-color: #008080;
    border: 1px solid var(--button-text);
    position: relative;
    top: 0;
    left: -7px;
    float: left
}

.disabled .colorPicker-color {
    opacity: 0;
}

.colorPicker-bar {
    width: 1px;
    height: 13px;
    background-color: var(--button-shadow);
    border-right: solid 1px var(--button-hilight);
    position: relative;
    top: 0;
    left: 18px;
}

.colorPicker-expandMark {
    height: 0;
    position: relative;
    top: -15px;
    left: 15px;
    font-size: 10px;
}

.colorPicker-label {
    position: relative;
    top: -2px;
    margin-right: 4px;
}

#checkboxes {
    display: table;
    margin: 0 auto;
}

#animationSelectorGroup {
    margin-top: 1px;
}

#importBtn {
    display: none;
}

#miniPicker {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 115px;
    z-index: 4;
    display: none;
}

#miniPickerColors {
    display: grid;
    grid-template-columns: repeat(4, 16px);
    gap: 2px;
    margin-top: 1px;
    margin-left: 1px;
}

.color {
    width: 16px;
    height: 16px;
    box-shadow: inset -1px -1px var(--button-hilight),
        inset 1px 1px var(--button-shadow),
        inset -2px -2px var(--button-light),
        inset 2px 2px var(--button-dk-shadow);
}

.color:hover {
    width: 12px;
    height: 12px;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
    box-shadow: none;
    border-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3IDciIHdpZHRoPSI3IiBoZWlnaHQ9IjciPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI3IiBoZWlnaHQ9IjciIGZpbGw9ImJsYWNrIi8+PHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjUiIGhlaWdodD0iNSIgZmlsbD0id2hpdGUiLz48cmVjdCB4PSIyIiB5PSIyIiB3aWR0aD0iMyIgaGVpZ2h0PSIzIiBmaWxsPSJibGFjayIvPjwvc3ZnPg==") 3 / 3px;
    border-style: solid;
}

#miniPicker hr {
    margin-top: 3px;
    margin-bottom: 2px;
}

#openColorPickerBtn {
    min-width: auto;
    min-height: auto;
    width: 62px;
    height: 18px;
}