@import 'common.css';

.window-body {
    margin-right: 0;
}

#schemePreview {
    height: 187px;
    width: calc(100% - 23px);
    background-color: var(--background);
    margin-left: 5px;
    pointer-events: none;
    box-shadow: inset -1px -1px var(--button-hilight),
        inset 1px 1px var(--button-shadow),
        inset -2px -2px var(--button-light),
        inset 2px 2px var(--button-dk-shadow);
    border: none;
    padding: 3px;
}

#conf {
    padding-top: 3px;
    display: table;
    margin: 0 auto;
}

.groupLabel {
    position: relative;
    top: -1px;
    margin-left: 5px;
}

.label {
    position: relative;
    top: -1px;
    margin-left: 0;
}

#itemSizeLabel {
    top: -2px;
}

#firstColorLabel,
#secondColorLabel {
    top: -2px;
    left: 1px;
}

#textColorLabel {
    top: -1px;
    left: -2px;
}

#schemeSelectorGroup button {
    position: relative;
    top: -6px;
}

#schemeSelector {
    margin-top: 1px;
}

#saveAsBtn {
    margin-left: 3px;
    margin-right: 3px;
}

mad-select {
    width: 197px;
    margin-left: 4px;
}

#schemeEditorGroup {
    margin-top: -5px;
    margin-right: 8px;
}

#schemeEditorGroup .groupLabel {
    top: 1px;
}

#schemeEditorGroup mad-select {
    margin-top: 3px;
}

#schemeEditorGroup .colorPicker {
    margin-top: -11px;

}

input[type="number"] {
    width: 57px;
    height: 21px;
    margin-left: -1px;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    appearance: none;
    margin: 0; 
}

.colorPicker {
    min-width: auto !important;
    min-height: auto;
    width: 42px;
    height: 21px;
    position: relative;
    top: 11px;
    margin-top: -10px;
    margin-left: -1px;
    box-shadow: inset -1px -1px var(--button-dk-shadow), inset 1px 1px var(--button-light), inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-hilight);
}

.colorPicker-color {
    width: 20px;
    height: 11px;
    background-color: #008080;
    border: 1px solid var(--button-text);
    position: relative;
    top: 0;
    left: -7px;
    float: left
}

.disabled .colorPicker-color {
    opacity: 0;
}

.colorPicker-bar {
    width: 1px;
    height: 13px;
    background-color: var(--button-shadow);
    border-right: solid 1px var(--button-hilight);
    position: relative;
    top: 0;
    left: 18px;
}

.colorPicker-expandMark {
    height: 0;
    position: relative;
    top: -15px;
    left: 15px;
    font-size: 10px;
}

#firstColor {
    margin-left: 0;
}

#secondColor {
    margin-left: 0;
}

#fontEditorGroup {
    margin: -1px 8px -2px 0;
}

#fontEditorGroup .groupLabel {
    top: 2px;
}

#fontEditorGroup mad-select {
    margin-top: 3px;
}

#textColor {
    margin-top: -11px;
    margin-left: -3px;
}

#boldToggle,
#italicToggle {
    position: relative;
    left: -5px;
    min-width: 0;
    min-height: 21px;
    margin: 0;
    margin-top: 16px;
    padding: 0 9px 0 7px;
}

#italicToggle {
    padding: 0 9px 0 8px;
}

#boldToggle span,
#italicToggle span {
    position: relative;
    top: -1px;
}

button[data-active] {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyIDIiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiPjxyZWN0IGZpbGw9IndoaXRlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgZmlsbD0idHJhbnNwYXJlbnQiIHg9IjEiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCBmaWxsPSJ3aGl0ZSIgeD0iMSIgeT0iMSIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IGZpbGw9InRyYW5zcGFyZW50IiB4PSIwIiB5PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PC9zdmc+');
}

#checkboxes {
    display: none;
}

.topmargin {
    margin-top: 6px;
}