@import 'common.css';


#preview {
    height: 200px;
    max-width: 500px;
    background-color: var(--background);
    margin: 0 auto;
    pointer-events: none;
    box-shadow: inset -1px -1px var(--button-hilight),
        inset 1px 1px var(--button-shadow),
        inset -2px -2px var(--button-light),
        inset 2px 2px var(--button-dk-shadow);
}

#inactiveWindow {
    position: absolute;
    width: 380px;
    height: 150px;
    top: 21px;
    left: 50%;
    transform: translateX(-200px);
    z-index: 1;
}

.inactive > .title-bar-text {
    color: var(--inactive-title-text);
}

#activeWindow {
    position: absolute;
    width: 400px;
    height: 129px;
    top: 47px;
    left: 50%;
    transform: translateX(-196px);
    z-index: 2;
}

.title-bar-controls button:before {
    font-family: "marlett-icons";
    content: "\e904";
    position: relative;
    top: 0.2px;
    left: -0.1px;
}

.menu {
    display: flex;
    margin-top: 1px;
    margin-bottom: 1px;
}

.menu > div {
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px transparent;
}

.disabled {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-hilight);
}

.menu > div[data-active] {
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow) !important;
}

.menu > div[data-active] > span {
    margin-top: 1px;
    margin-left: 1px;
    margin-right: -1px;
}

textarea {
    width: 398px;
    height: 86px;
    margin: 1px;
    margin-top: 0;
    resize: none;
    font-size: 12px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 5px;
}

#msgbox {
    position: absolute;
    width: 260px;
    top: 120px;
    left: 50%;
    transform: translateX(-188px);
    z-index: 3;
}

#selector {
    width: 200px;
    margin-right: 5px;
}

#schemeSelector {
    width: 200px;
}

.colorPicker {
    min-width: auto !important;
    min-height: auto;
    width: 42px;
    height: 21px;
    position: relative;
    top: 13.5px;
    margin-top: -10px;
    margin-left: -1px;
}

.colorPicker-color {
    width: 20px;
    height: 11px;
    background-color: #008080;
    border: 1px solid var(--button-text);
    position: relative;
    top: 0;
    left: -7px;
    float: left
}

.colorPicker-bar {
    width: 1px;
    height: 13px;
    background-color: var(--button-shadow);
    border-right: solid 1px var(--button-hilight);
    position: relative;
    top: 0;
    left: 18px;
}

.colorPicker-expandMark {
    height: 0;
    position: relative;
    top: -15px;
    left: 15px;
    font-size: 10px;
}

#conf {
    padding-top: 5px;
    width: 260px;
    margin: 0 auto;
}

#checkboxes {
    width: 320px;
    margin: 0 auto;
}

#animationSelectorGroup {
    margin-top: 1px;
}

#importBtn {
    display: none;
}

#miniPicker {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 115px;
    z-index: 4;
    display: none;
}

#miniPickerColors {
    display: grid;
    grid-template-columns: repeat(4, 16px);
    gap: 2px;
    margin-top: 1px;
    margin-left: 1px;
}

.color {
    width: 16px;
    height: 16px;
    box-shadow: inset -1px -1px var(--button-hilight),
        inset 1px 1px var(--button-shadow),
        inset -2px -2px var(--button-light),
        inset 2px 2px var(--button-dk-shadow);
}

.color:hover {
    width: 12px;
    height: 12px;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
    box-shadow: none;
    border-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3IDciIHdpZHRoPSI3IiBoZWlnaHQ9IjciPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI3IiBoZWlnaHQ9IjciIGZpbGw9ImJsYWNrIi8+PHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjUiIGhlaWdodD0iNSIgZmlsbD0id2hpdGUiLz48cmVjdCB4PSIyIiB5PSIyIiB3aWR0aD0iMyIgaGVpZ2h0PSIzIiBmaWxsPSJibGFjayIvPjwvc3ZnPg==") 3 / 3px;
    border-style: solid;
}

#miniPicker hr {
    margin-top: 3px;
    margin-bottom: 2px;
}

#openColorPickerBtn {
    min-width: auto;
    min-height: auto;
    width: 62px;
    height: 18px;
}