@import '../../../css/libmad.css';

:root {
    --hilight-inverted: #FFFF7F;
}

body {
    background-color: var(--button-face);
    margin: 0;
    margin-top: 8px;
    line-height: 16px;
    image-rendering: pixelated;
    user-select: none;
    overflow: hidden;
}

p, legend, label,
:not(button):not([data-disabled]):not(.disabled):not([data-active]) > span:not(.label) {
    color: var(--window-text);
}

#madconf {
    margin: 6px;
    margin-top: 9px;
}

menu[role="tablist"] {
    margin-top: 3px;
}

menu[role="tablist"] li {
    min-width: 42px !important;
    text-align: left !important;
}

menu[role="tablist"] a {
    margin-left: 9px !important;
    margin-top: 7px !important;
    margin-right: 7px !important;
    line-height: 7px;
    cursor: default;
}

li:not([aria-selected]) a {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

fieldset {
    position: relative;
}

.topmargin, fieldset {
    margin-top: 5px;
}

.bottomButtons {
    position: absolute;
    right: 6px;
    bottom: 7px;
    z-index: 2;
}

.shortInput {
    width: 50px;
}

.disabled,
.disabled * {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-hilight);
}

.disabled u,
button[disabled] u {
    border-bottom-color: var(--underline-disabled);
}