@import '../../../css/libmad.css';

body {
    margin-top: 11px;
    margin-left: 4px;
    user-select: none;
    overflow: hidden;
}

label:not(.hasDropdown) {
    margin-top: 6px;
    margin-bottom: 2px;
}

mad-select {
    margin: 3px 0 4px 23px;
    width: 140px;
}

#flatMenuSelector {
    margin-bottom: 5px;
    width: 200px;
}

.bottomButtons {
    position: absolute;
    right: 12px;
    bottom: 5px;
}