@import 'common.css';

#dpiSelector {
    width: 80px;
}

#sysplugOpenOptSelector {
    margin-left: 3px;
    width: 240px;
}

#schemeArea {
    margin-left: 20px;
}

#soundSchemeLabel {
    position: relative;
    top: -6px;
}

#soundSchemeSelector {
    width: 130px;
}

#iconAreaLabel {
    margin-right: 55px;
}

.window-body {
    padding-bottom: 7px;
}