@import 'common.css';

#dpiSelector {
    width: 80px;
}

#schemeArea {
    margin-left: 20px;
}

#soundSchemeLabel {
    position: relative;
    top: -6px;
}

#soundSchemeSelector {
    width: 130px;
}

label[for="noDisableChkBox"] {
    position: absolute !important;
    margin-top: 2px;
    right: 28px;
}

.buttons {
    margin-top: 5px;
}