@import '../../../css/libmad.css';

html, body {
    overflow: hidden;
    font-family: var(--ui-font);
    font-size: 11px;
    user-select: none;
}

body {
    background-color: var(--button-face);
}

#patternChooserLabel {
    position: absolute;
    top: 12px;
    left: 12px;
}

#patternChooser {
    width: 273px;
    position: absolute;
    top: 30px;
    left: 12px;
}

#patternEditorLabel {
    position: absolute;
    top: 60px;
    left: 12px;
}

#patternEditor {
    width: 133px;
    height: 144px;
    background-color: var(--background);
    border: solid 1px var(--button-dk-shadow);
    position: absolute;
    top: 76px;
    left: 11px;
    display: grid;
    grid-template-columns: 16px 17px 16px 17px 17px 16px 17px 17px;
    grid-template-rows: repeat(8, 18px);
}

input[type="checkbox"] {
    width: 100%;
    height: 18px;
    background-color: var(--window-text) !important;
    position: relative !important;
}

input[type="checkbox"]:checked {
    opacity: 1;
}

#patternSampleLabel {
    position: absolute;
    top: 60px;
    left: 156px;
}

#patternSample {
    width: 126px;
    height: 144px;
    background-color: var(--background);
    background-size: auto;
    background-repeat: repeat;
    background-position: left top;
    border: solid 1px var(--button-dk-shadow);
    position: absolute;
    top: 76px;
    left: 156px;
    image-rendering: pixelated;
}

#rightButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 5px;
    right: 10px;
}

#rightButtons button {
    margin-top: 6px;
    width: 71px;
}

#rightButtons button:not(:first-child):not(:last-child) {
    margin-top: 5px;
    margin-bottom: 1px;
}

#base64 {
    position: absolute;
    top: 225px;
}