@import 'common.css';

body {
    background-color: var(--background);
    margin: 0;
    overflow: hidden;
}

.window {
    --extra-title-height: -2px;
    --extra-border-size: 1px;
    --border-inset: calc(2px + var(--extra-border-size));
    --border-inset-minus: calc(var(--extra-border-size) * -1 - 2px);
}

#container {
    position: relative;
    left: 3px;
}

#inactiveWindow {
    position: absolute;
    width: 311px;
    height: 145px;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: var(--border-window-outer), var(--border-window-inner),
        var(--inactive-border) var(--border-inset-minus) var(--border-inset-minus) inset,
        var(--inactive-border) var(--border-inset) var(--border-inset) inset;
}

.title-bar {
    height: calc(14px + var(--extra-title-height));
}

.window-button {
    height: calc(16px + var(--extra-title-height));
    width: calc(18px + var(--extra-title-height));
    font-size: calc(12px + var(--extra-title-height) / 2);
}

#inactiveWindow .title-bar,
#activeWindow .title-bar {
    margin: 0;
    margin: var(--extra-border-size);
    margin-bottom: -1px;
}

.inactive > .title-bar-text {
    color: var(--inactive-title-text);
}

#activeWindow {
    position: absolute;
    width: 329px;
    height: 127px;
    top: 23px;
    left: 4px;
    z-index: 2;
    box-shadow: var(--border-window-outer), var(--border-window-inner),
        var(--active-border) var(--border-inset-minus) var(--border-inset-minus) inset,
        var(--active-border) var(--border-inset) var(--border-inset) inset;
}

.title-bar-controls button:before {
    font-family: "marlett-icons";
    content: "\e904";
    position: relative;
    top: 0.2px;
    left: -0.1px;
}

.menu {
    display: flex;
    margin: 1px var(--extra-border-size) 1px var(--extra-border-size);
    background-color: var(--menu);
    height: var(--menu-height);
    line-height: 1.2;
    font: var(--menu-font);
}

.menu > div:first-child {
    margin-left: 1px;
}

.menu > div {
    padding: calc((var(--menu-height) - 16px) / 2) 5px 0 5px;
    border: solid 1px transparent;
    padding-top: 2px;
}

.disabled {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-hilight);
}

.menu > div[data-active] {
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow) !important;
    margin-top: 1px;
    margin-left: -1px;
}

.menu > div[data-active] > span {
    margin-top: 1px;
    margin-left: 2px;
    margin-right: -2px;
}

textarea {
    width: calc(100% - var(--extra-border-size) * 2);
    height: calc(88px - var(--extra-border-size) * 2 - var(--extra-title-height));
    margin: var(--extra-border-size);
    margin-top: 0;
    resize: none;
    font-size: 12px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 5px;
    overflow-y: scroll;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar);
}

#msgbox {
    position: absolute;
    width: 207px;
    height: 63px;
    top: 108px;
    left: 12px;
    z-index: 3;
}

#msgbox-msg {
    padding-top: 1px;
    padding-left: 4px;
    padding-bottom: 0;
    margin-bottom: 0;
    font: var(--message-font);
}

#msgbox-btn1 {
    height: 24px;
    width: 72px;
    min-width: 0;
    position: absolute;
    bottom: 6px;
    font: var(--message-font);
    font-weight: bold;
}