@import 'common.css';

body {
    background-color: var(--background);
    margin: 0;
    overflow: hidden;
}

#container {
    position: relative;
    left: 3px;
}

#inactiveWindow {
    position: absolute;
    width: 311px;
    height: 145px;
    top: 0;
    left: 0;
    z-index: 1;
}

.title-bar {
    height: 12px;
}

#inactiveWindow .title-bar,
#activeWindow .title-bar {
    border: solid 1px var(--button-face);
    border-bottom: none;
    margin-bottom: -1px;
}

.inactive > .title-bar-text {
    color: var(--inactive-title-text);
}

#activeWindow {
    position: absolute;
    width: 329px;
    height: 127px;
    top: 23px;
    left: 4px;
    z-index: 2;
}

.title-bar-controls button:before {
    font-family: "marlett-icons";
    content: "\e904";
    position: relative;
    top: 0.2px;
    left: -0.1px;
}

.menu {
    display: flex;
    margin-top: 1px;
    margin-bottom: 1px;
}

.menu > div:first-child {
    margin-left: 2px;
}

.menu > div {
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px transparent;
}

.disabled {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-hilight);
}

.menu > div[data-active] {
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow) !important;
    margin-top: 1px;
    margin-left: -1px;
    height: 15px;
}

.menu > div[data-active] > span {
    margin-top: 1px;
    margin-left: 2px;
    margin-right: -2px;
}

textarea {
    width: 327px;
    height: 89px;
    margin: 1px;
    margin-top: 0;
    resize: none;
    font-size: 12px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 5px;
}

#msgbox {
    position: absolute;
    width: 207px;
    height: 63px;
    top: 108px;
    left: 12px;
    z-index: 3;
}

#msgbox-msg {
    padding-top: 1px;
    padding-left: 4px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#msgbox-btn1 {
    height: 24px;
    font-weight: bold;
    width: 72px;
    min-width: 0;
    margin-top: -1px;
    margin-left: -1px;
}