:root {
    --ActiveBorder: var(--active-border);
    --ActiveTitle: var(--active-title);
    --AppWorkspace: var(--app-workspace);
    --Background: var(--background);
    --ButtonAlternateFace: var(--button-alternate-face);
    --ButtonDkShadow: var(--button-dk-shadow);
    --ButtonFace: var(--button-face);
    --ButtonHilight: var(--button-hilight);
    --ButtonLight: var(--button-light);
    --ButtonShadow: var(--button-shadow);
    --ButtonText: var(--button-text);
    --GradientActiveTitle: var(--gradient-active-title);
    --GradientInactiveTitle: var(--gradient-inactive-title);
    --GrayText: var(--gray-text);
    --Hilight: var(--hilight);
    --HilightText: var(--hilight-text);
    --HotTrackingColor: var(--hot-tracking-color);
    --InactiveBorder: var(--inactive-border);
    --InactiveTitle: var(--inactive-title);
    --InactiveTitleText: var(--inactive-title-text);
    --InfoText: var(--info-text);
    --InfoWindow: var(--info-window);
    --Menu: var(--menu);
    --MenuText: var(--menu-text);
    --Scrollbar: var(--scrollbar);
    --TitleText: var(--title-text);
    --Window: var(--window);
    --WindowFrame: var(--window-frame);
    --WindowText: var(--window-text);

    --active-border: #c0c0c0;
    --active-title: #000080;
    --app-workspace: #808080;
    --background: #008080;
    --button-alternate-face: #c0c0c0;
    --button-dk-shadow: #000000;
    --button-face: #c0c0c0;
    --button-hilight: #ffffff;
    --button-light: #c0c0c0;
    --button-shadow: #808080;
    --button-text: #000000;
    --gradient-active-title: #1084d0;
    --gradient-inactive-title: #b5b5b5;
    --gray-text: #808080;
    --hilight: #000080;
    --hilight-text: #ffffff;
    --hot-tracking-color: #000080;
    --inactive-border: #c0c0c0;
    --inactive-title: #808080;
    --inactive-title-text: #c0c0c0;
    --info-text: #000000;
    --info-window: #ffffe1;
    --menu: #c0c0c0;
    --menu-bar: #c0c0c0;
    --menu-highlight: #000080;
    --menu-text:  #000000;
    --scrollbar: #c0c0c0;
    --title-text: #ffffff;
    --window: #ffffff;
    --window-frame: #000000;
    --window-text: #000000;
}