@import url("../../css/libmad.css");

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--button-face);
    user-select: none;
}

p, legend, label,
:not(button):not([data-disabled]):not(.disabled) > span:not(.label):not(.disabled) {
    color: var(--window-text);
}

#madVisConf {
    -webkit-font-smoothing: none;
    font-family: var(--ui-font);
    font-size: 11px;
}

form {
    line-height: 16px;
}

#customColors {
    margin-top: 2px;
    margin-bottom: 5px;
}

.colorPicker {
    min-width: auto !important;
    min-height: auto;
    width: 42px;
    height: 21px;
    position: relative;
    top: 13.5px;
    margin-top: -25px;
    margin-left: 5px;
    margin-right: 10px;
}

.colorPicker-color {
    width: 20px;
    height: 11px;
    background-color: black;
    border: 1px solid var(--button-text);
    position: relative;
    top: 0;
    left: -7px;
    float: left
}

.colorPicker-bar {
    width: 1px;
    height: 13px;
    background-color: var(--button-shadow);
    border-right: solid 1px var(--button-hilight);
    position: relative;
    top: 0;
    left: 18px;
}

.colorPicker-expandMark {
    height: 0;
    position: relative;
    top: -15px;
    left: 15px;
    font-size: 10px;
}

label[for="dimAlbumArtChkBox"] {
    margin-top: 3px;
}

#visConfArea {
    width: 100%;
}

#barWidthInput,
#primaryScaleInput,
#diffScaleInput {
    width: 40px;
    text-align: right;
}

#primaryScaleInput,
#diffScaleInput {
    margin-top: 3px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    appearance: none;
    margin: 0; 
}

#diffScaleLabel {
    margin-left: 30px;
}

#barWidthInput,
#diffScaleInput {
    margin-left: 5px;
}

p {
    margin: 3px 0;
}

fieldset {
    margin-top: 5px;
}

.bottomButtons {
    margin-top: 5px;
    justify-content: flex-end;
}

.disabled {
    color: var(--button-shadow);
    text-shadow: 1px 1px 0 var(--button-hilight);
}