@charset "utf-8";

@import '../../css/libmad.css';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--button-face);
    user-select: none;
}

#mainArea {
    margin-top: var(--menu-height);
    height: 100%;
    position: relative;
    padding: 1px;
    box-shadow: var(--button-hilight) -1px -1px inset, var(--button-shadow) 1px 1px inset;
    --main-area-margin: 2px;
}

#albumArt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - var(--main-area-margin));
    max-height: calc(100% - var(--main-area-margin));
    min-height: 35%;
    object-fit: contain;
    z-index: 0;
}

canvas {
    position: absolute;
    width: calc(100% - var(--main-area-margin));
    height: calc(100% - var(--main-area-margin));
}

#top {
    z-index: 1;
}

#bar {
    z-index: 2;
}

#pausedAlert {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    z-index: 3;
}

#extraAlert {
    display: none;
}

a {
    color: white !important;
    text-decoration: underline !important;
}

.menu {
    position: absolute;
    z-index: 5;
}

.menu:hover,
.menu[data-active] {
    opacity: 1 !important;
}

.contextMenuBg {
    z-index: 6;
}

#statusArea {
    background-color: var(--button-face);
    color: var(--button-text);
    display: none;
    margin-bottom: 6px;
}

#visMenu > .contextMenuItem:not(.activeStyle):not(.checkedItem) > p,
#viewMenu > .contextMenuItem:not(.activeStyle):not(.checkedItem) > p {
    padding-left: 20px;
}

#bottomArea {
    background-color: var(--button-face);
}

#bottomArea:hover {
    opacity: 1 !important;
}

.statusButton {
    width: 19px;
    height: 19px;
    border: solid 1px transparent;
    position: relative;
    top: 3px;
    left: 2px;
    font-family: 'Segoe UI Symbol';
}

#play {
    left: 2px;
}

#pause {
    left: 3px;
}

#stop {
    left: 4px;
}

.statusButton p {
    position: relative;
}

#play p {
    top: -16px;
    left: 3px;
    font-size: 14px;
}

#pause p {
    top: -18px;
    left: 1px;
    font-size: 15px;
}

#pause[data-disabled] p {
    color: var(--gray-text);
}

#stop p {
    top: -14px;
    left: 4px;
    font-size: 13px;
}

.statusButton[data-active] {
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyIDIiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiPjxyZWN0IGZpbGw9IndoaXRlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgZmlsbD0idHJhbnNwYXJlbnQiIHg9IjEiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCBmaWxsPSJ3aGl0ZSIgeD0iMSIgeT0iMSIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IGZpbGw9InRyYW5zcGFyZW50IiB4PSIwIiB5PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PC9zdmc+');
}

#play[data-active] p,
#statusArea[data-controllable] #play:active p {
    top: -15px;
    left: 4px;
}

#pause[data-active] p,
#statusArea[data-controllable] #pause:not([data-disabled]):active p {
    top: -17px;
    left: 2px;
}

#stop[data-active] p,
#statusArea[data-controllable] #stop:active p {
    top: -13px;
    left: 5px;
}

#vertbar {
    display: none;
    width: 1px;
    height: 20px;
    background-color: var(--button-shadow);
    border-right: solid 1px var(--button-hilight);
    position: relative;
    top: 3px;
    left: 11px;
}

#prev {
    display: none;
    left: 15px;
}

#next {
    display: none;
    left: 16px;
    margin-right: 12px;
}

#prev p {
    top: -15px;
    left: 2px;
    font-size: 13px;
}

#next p {
    top: -15px;
    left: 3px;
    font-size: 13px;
}

#prev:active p {
    top: -14px;
    left: 3px;
}

#next:active p {
    top: -14px;
    left: 4px;
}

#statusArea[data-controllable] #play:not([data-active]):hover,
#statusArea[data-controllable] #pause:not([data-active]):not([data-disabled]):hover,
#statusArea[data-controllable] #stop:not([data-active]):hover,
#prev:hover, #next:hover {
    border-color: var(--button-hilight) var(--button-shadow) var(--button-shadow) var(--button-hilight);
}

#statusArea[data-controllable] #play:not([data-active]):active,
#statusArea[data-controllable] #pause:not([data-active]):not([data-disabled]):active,
#statusArea[data-controllable] #stop:not([data-active]):active,
#prev:active, #next:active {
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow);
}

#statusArea[data-controllable] #vertbar,
#statusArea[data-controllable] #prev,
#statusArea[data-controllable] #next {
    display: block;
}

#seekBar {
    width: calc(100% - 88px);
    height: 5px;
    border: solid 1px;
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow);
    position: relative;
    top: 10px;
    left: 14px;
}

#statusArea[data-controllable] #seekBar {
    width: calc(100% - 144px);
}

#seekHandle {
    display: none;
    width: 13px;
    height: 15px;
    background-image: var(--seek-handle);
    position: relative;
    top: -5px;
    left: calc(0% - 6px);
}

#infoArea {
    background-color: black;
    color: white;
    border: solid 1px;
    border-color: gray white white gray;
    margin: 0;
    font-family: var(--ui-font);
    display: none;
}

#infoMainArea {
    display: flex;
    line-height: 3px;
    padding: 0;
}

#leftArea {
    width: 85px;
}

#leftArea .infoItem {
    text-align: right;
}

#subtitle, #album, #albumArtist, #genre {
    display: none;
}

#rightArea {
    margin-left: 25px;
    width: calc(100% - 110px);
}

#rightArea .infoItem p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 15px;
    line-height: 15px;
    margin: 0;
}

#rightArea .infoItem:first-child {
    margin-top: 6px;
}

#rightArea .infoItem p:empty {
    display: none;
}

#infoAreaSeparator {
    height: 1px;
    background-color: #808080;
    border: none;
    margin: 0;
}

#statusBar {
    display: flex;
    line-height: 0;
}

#statusText {
    margin-left: 25px;
    flex: 1;
}

#timeText {
    margin-left: auto;
    margin-right: 9px;
    display: none;
}

#speaker {
    width: 20px;
    height: 11px;
    margin-top: 5px;
    margin-right: 8px;
}

body[data-fullscreen] {
    padding-top: var(--mad-margin-top);
    padding-left: var(--mad-margin-left);
    padding-right: var(--mad-margin-right);
    padding-bottom: var(--mad-margin-bottom);
}

body[data-fullscreen] #mainArea {
    margin-top: 0;
    box-shadow: none;
}

body[data-fullscreen] #menuBar {
    opacity: 0;
    width: calc(100% - var(--mad-margin-left) - var(--mad-margin-right));
}

body[data-fullscreen] #bottomArea {
    position: absolute;
    width: calc(100% - var(--mad-margin-left) - var(--mad-margin-right));
    bottom: var(--mad-margin-bottom);
    opacity: 0;
    z-index: 4;
}