@charset "utf-8";

@import '../../css/marlett.css';

@keyframes fade {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cmDropdown {
    0% {
        height: 0;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--button-face);
}

#mainArea {
    height: 100%;
    position: relative;
    background-color: black;
}

#pausedAlert {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: none;
    z-index: 3;
}

#albumArt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    min-height: 35%;
    object-fit: contain;
    z-index: 1;
}

#visualizer {
    border: none;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.menu {
    display: flex;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 1px;
    font-family: "Pixelated MS Sans Serif";
    font-size: 11px;
    background-color: var(--button-face);
    width: 100%;
    z-index: 4;
}

.menu:hover,
.menu[data-active] {
    opacity: 1 !important;
}

.menu > div {
    padding: 2px 5px 2px 5px;
    border: solid 1px transparent;
    user-select: none;
    cursor: default;
}

.menu > div:hover {
    border-color: var(--button-hilight) var(--button-shadow) var(--button-shadow) var(--button-hilight);
}

.menu > div:active,
.menu > div[data-active] {
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow);
}

.menu > div:active > span,
.menu > div[data-active] > span {
    margin-top: 1px;
    margin-left: 1px;
    margin-right: -1px;
}

.contextMenuBg {
    display: none;
    position: absolute;
    top: 18px;
    overflow: hidden;
    animation: cmDropdown 0.25s linear;
    background-color: var(--menu);
    z-index: 5;
}

.contextMenuBg:focus {
    outline: none;
}

.contextMenu {
    position: absolute;
    bottom: 3px;
    margin: 0 !important;
    margin-right: 3px;
}

#visMenuBg {
    width: 120px;
    height: 60px;
}

#visMenu {
    width: 118px;
}

#viewMenuBg {
    width: 160px;
    height: 68px;
    left: 56px;
}

#viewMenu {
    width: 158px;
}

#optMenuBg {
    width: 160px;
    height: 17px;
    left: 93px;
}

#optMenu {
    width: 158px;
}

#helpMenuBg {
    width: 130px;
    height: 17px;
    left: 140px;
}

#helpMenu {
    width: 128px;
}

.contextMenuItem {
    width: 100%;
    height: 17px;
    font-size: 11px;
    padding-left: 2px;
    pointer-events: auto !important;
}

.contextMenuItem p {
    margin: 0;
    padding-top: 2px;
}

.contextMenuItem:not(.hasIcon):not(.activeStyle):not(.checkedItem) > p {
    padding-left: 15px;
}

#visMenu > .contextMenuItem:not(.hasIcon):not(.activeStyle):not(.checkedItem) > p,
#viewMenu > .contextMenuItem:not(.hasIcon):not(.activeStyle):not(.checkedItem) > p {
    padding-left: 20px;
}

.contextMenuItem.activeStyle p,
.contextMenuItem.checkedItem p {
    line-height: 10px;
}

.contextMenuItem.activeStyle p::before {
    content: "●";
    font-size: 15px;
    margin-left: 4px;
    margin-right: 7px;
}

.contextMenuItem.checkedItem p::before {
    font-family: "marlett-icons";
    content: "\e903";
    font-size: 15px;
    position: relative;
    top: 2px;
    left: 1px;
    margin-right: 5px;
}

.contextMenuItem:hover,
.contextMenuItem[data-active] {
    background-color: var(--hilight);
    color: var(--hilight-text);
}

.contextMenuItem:hover u,
.contextMenuItem[data-active] u {
    border-bottom-color: var(--hilight-text);
}

.contextMenu hr {
    margin-top: 3px;
    margin-bottom: 4px;
}

.disabled {
    color: var(--button-shadow) !important;
    text-shadow: 1px 1px 0 var(--button-hilight) !important;
}

#statusArea {
    background-color: var(--button-face);
    color: var(--button-text);
    display: none;
    margin-bottom: 6px;
}

.statusButton {
    width: 19px;
    height: 19px;
    border: solid 1px transparent;
    position: relative;
    top: 3px;
    left: 2px;
    font-family: 'Segoe UI Symbol';
}

#play {
    left: 3px;
}

#pause {
    left: 4px;
}

#stop {
    left: 5px;
}

.statusButton p {
    position: relative;
}

#play p {
    top: -16px;
    left: 3px;
    font-size: 14px;
}

#pause p {
    top: -18px;
    left: 1px;
    font-size: 15px;
}

#stop p {
    top: -14px;
    left: 4px;
    font-size: 13px;
}

.statusButton[data-active] {
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyIDIiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiPjxyZWN0IGZpbGw9IndoaXRlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgZmlsbD0idHJhbnNwYXJlbnQiIHg9IjEiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCBmaWxsPSJ3aGl0ZSIgeD0iMSIgeT0iMSIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IGZpbGw9InRyYW5zcGFyZW50IiB4PSIwIiB5PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PC9zdmc+');
}

#play[data-active] p,
#statusArea[data-controllable] #play:active p {
    top: -15px;
    left: 4px;
}

#pause[data-active] p,
#statusArea[data-controllable] #pause:active p {
    top: -17px;
    left: 2px;
}

#stop[data-active] p,
#statusArea[data-controllable] #stop:active p {
    top: -13px;
    left: 4px;
}

#vertbar {
    display: none;
    width: 1px;
    height: 20px;
    background-color: var(--button-shadow);
    border-right: solid 1px var(--button-hilight);
    position: relative;
    top: 3px;
    left: 12px;
}

#prev {
    display: none;
    left: 16px;
}

#next {
    display: none;
    left: 17px;
    margin-right: 12px;
}

#prev p {
    top: -15px;
    left: 2px;
    font-size: 13px;
}

#next p {
    top: -15px;
    left: 3px;
    font-size: 13px;
}

#prev:active p {
    top: -14px;
    left: 3px;
}

#next:active p {
    top: -14px;
    left: 4px;
}

#statusArea[data-controllable] #play:not([data-active]):hover,
#statusArea[data-controllable] #pause:not([data-active]):hover,
#statusArea[data-controllable] #stop:not([data-active]):hover,
#prev:hover, #next:hover {
    border-color: var(--button-hilight) var(--button-shadow) var(--button-shadow) var(--button-hilight);
}

#statusArea[data-controllable] #play:not([data-active]):active,
#statusArea[data-controllable] #pause:not([data-active]):active,
#statusArea[data-controllable] #stop:not([data-active]):active,
#prev:active, #next:active {
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow);
}

#statusArea[data-controllable] #vertbar,
#statusArea[data-controllable] #prev,
#statusArea[data-controllable] #next {
    display: block;
}

#seekBar {
    width: calc(100% - 88px);
    height: 5px;
    border: solid 1px;
    border-color: var(--button-shadow) var(--button-hilight) var(--button-hilight) var(--button-shadow);
    position: relative;
    top: 10px;
    left: 14px;
}

#statusArea[data-controllable] #seekBar {
    width: calc(100% - 144px);
}

#seekHandle {
    display: none;
    width: 13px;
    height: 15px;
    background-image: url('seekHandle.png');
    position: relative;
    top: -5px;
    left: calc(0% - 6px);
}

#infoArea {
    background-color: black;
    color: white;
    border: solid 1px;
    border-color: gray white white gray;
    margin: 1px;
    margin-top: 0;
    font-family: "Pixelated MS Sans Serif";
    display: none;
}

#infoMainArea {
    display: flex;
    line-height: 3px;
    padding: 0;
}

#leftArea {
    width: 85px;
}

#leftArea .infoItem {
    text-align: right;
}

#rightArea {
    margin-left: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#subtitle, #album, #albumArtist, #genre {
    display: none;
}

#infoAreaSeparator {
    height: 1px;
    background-color: #808080;
    border: none;
    margin: 0;
}

#statusBar {
    display: flex;
    line-height: 0;
}

#statusText {
    margin-left: 25px;
    flex: 1;
}

#timeText {
    margin-left: auto;
    margin-right: 9px;
    display: none;
}

#speaker {
    width: 20px;
    height: 11px;
    margin-top: 5px;
    margin-right: 8px;
}